In [1]:
class add:
    pass
#def sum(my):
#print("my name is suraiya")
    
add1=add()
print(type(add1))

<class '__main__.add'>

In [1]:
class name:
    def func(my):
        print("my name suraiya")
name.func('my')

my name suraiya

In [56]:
class name:
    def add(my):
        print("my name suraiya")
        
m1=name()
m2=name()
# this type of syntax is standard:

# m1.add()
# m2.add()

class student:
    def __init__(self,name,age):
        self.name=name  
        self.age=age
    def show (self):
        print("name:",self.name,"age:",self.age)
s1=student("suraya",50)
s2=student("minhaj",52)
s1.show()

name: suraya age: 50

In [39]:

# 1st class in python

class student:
    pass
huma=student()
juma=student()

huma.name="huma khan"
huma.std=9
huma.add='phonix'
huma.subject=["urdu","history"]


juma.name="friday"
juma.std=5
juma.add="mall"

print(huma,juma)
print(huma.subject,juma.name)

<__main__.student object at 0x00000214F9FDF8E0> <__main__.student object at 0x00000214F9FDE020>
['urdu', 'history'] friday

In [14]:
# instance variable and class variable

class EMPLOYEE:
    no_of_student=25
    pass

harry=EMPLOYEE()
minhaj=EMPLOYEE()

harry.name="harry khan"
harry.role="instroctor"
harry.salary=50000

minhaj.name="shaikh"
minhaj.role="teacher"
minhaj.salary=50000

print(EMPLOYEE.no_of_student)

print(minhaj.__dict__)
minhaj.no_of_student=9
print(minhaj. no_of_student)

25
{'name': 'shaikh', 'role': 'teacher', 'salary': 50000}
9

In [55]:
class student:
    def __init__(self,name,age,rollno):
        self.name=name
        self.age=age
        self.rollno=rollno
    def show (self):
        print("Name:",self.name,"Age:",self.age,"rollno:",self.rollno)
# s1=student()
s2=student("minhaj",20,24)
s2.show()
# s2.show()

Name: minhaj Age: 20 rollno: 24

In [8]:
# class employee:
# #     pass
# harry=employee()
# minhaj=employee()

harry.name='harry'
harry.age=20
harry.salary=44000

minhaj.name='minhaj'
minhaj.age=20
minhaj.salary=5000

# print(harry,minhaj)
print(minhaj.age,harry .name)

20 harry

In [32]:
class person:
    increment = 1.5
    no_of_employees=0
    
    
    def __init__(self,name,age,profession,salary):
        self.name = name
        self.age = age
        self.profession = profession
        self.salary = salary
        person.no_of_employees+=1
#         self.increment=1.4

        
    def increase(self):
        self.salary = int(self.salary * person.increment)
        
print(person.no_of_employees)        
p1 = person('fatima',50,'teacher',44000)
print(person.no_of_employees)

p2 = person('khadija',40,'teacher',30000)
print(person.no_of_employees)

# print(p1.name,p2 .salary)
# print(p1.__dict__)

# p1.increment=9
print(p1.__dict__)

p1.increase()
print(p1.salary)

0
1
2
{'name': 'fatima', 'age': 50, 'profession': 'teacher', 'salary': 44000}
66000

In [37]:
class StudentDetail:
    # class variables
    school_name = 'ABC School'

    # constructor
    def __init__(self, name, age):
        # instance variables
        self.name = name
        self.age = age

s1 = Student("Harry", 12)
# access instance variables
print('Student:', s1.name, s1.age)

# access class variable
print('School name:', Student.school_name)

# Modify instance variables
s1.name = 'Jessa'
s1.age = 14
print('Student:', s1.name, s1.age)

# Modify class variables
Student.school_name = 'XYZ School'
print('School name:', Student.school_name)

Student: Harry 12
School name: ABC School
Student: Jessa 14
School name: XYZ School

In [66]:
class student:
    collagename="ABCschool"
    def __init__(self,name,age):
        self.name=name
        self.age=age
s1=student("har",10) 

print('student:',s1.name,s1.age)
print('schoolname:',student.collagename)
s1.name='lorry'
s1.age=20
print('student:',s1.name, s1.age)
student.collagename="xyz"
print('schoolname:',student.collagename)

student: har 10
schoolname: ABCschool
student: lorry 20
schoolname: xyz

In [87]:
class standard:
    schoolname="taleem"
    def __init__(self,name,age):
        self.name = name
        self.age = age
s1=standard('farhana',20)
print("name:",s1.name,"age:",s1.age,"schoolname:",s1.schoolname)
print("schoolname:",standard.schoolname)

s1.age=30
print(s1.age)
print("name:",s1.name,"age:",s1.age,"schoolname:",s1.schoolname)

standard.schoolname="kulliya"
print("schoolname:",standard.schoolname)
print("name:",s1.name,"age:",s1.age,"schoolname:",s1.schoolname)

name: farhana age: 20 schoolname: taleem
schoolname: taleem
30
name: farhana age: 30 schoolname: taleem
schoolname: kulliya
name: farhana age: 30 schoolname: kulliya

# class variable instance variable

In [106]:
class Employee:
    increment=1.2
    noofemployee=0
    def __init__(self,name,age,salary,profession):
        self.name=name
        self.age=age
        self.salary=salary
        self.profession=profession
        Employee.noofemployee+=1
        
    def increase(self):
        self.salary=int(self.salary*Employee.increment)
print(Employee.noofemployee)        
    
fatima=Employee('fatima',50,70000,'teacher')
khadija=Employee("khadija",20,30000,"student")

print(Employee.noofemployee)     

print(fatima.salary)
print(fatima.__dict__)

fatima.increase()
print(fatima.salary)

print(khadija.__dict__)
khadija.increase()
print(khadija.salary)
print(khadija.__dict__)

0
2
70000
{'name': 'fatima', 'age': 50, 'salary': 70000, 'profession': 'teacher'}
84000
{'name': 'khadija', 'age': 20, 'salary': 30000, 'profession': 'student'}
36000
{'name': 'khadija', 'age': 20, 'salary': 36000, 'profession': 'student'}

In [40]:
# instance method

class Employee:
    increment=1.2
    
    def __init__(self,name,age,salary,profession):
        self.name=name
        self.age=age
        self.salary=salary
        self.profession=profession
        
        
    def increase(self):
        self.salary=int(self.salary*Employee.increment)
    @classmethod
    def change_increment(cls,amount):
        cls.increment=amount
        
    
        

fatima=Employee('fatima',50,6000,'teacher')
khadija=Employee("khadija",20,3000,"student")

# khadija.increase()
# print(khadija.salary)

fatima.increase()

print(fatima.salary)

Employee.change_increment(2)

fatima.increase()
print(fatima.salary)

khadija.increase()
print(khadija.salary)
Employee.change_increment(2)

khadija.increase()
print(khadija.salary)

7200
14400
6000
12000

In [15]:
class student:
    def __init__(self,name,rollno,age):
        self.name = name
        self.__rollno = rollno
        self.__age = age
    
    def show(self):
        print(self.__rollno)
        
    def get_rollno(self):
        return self.__rollno
    
    def get_age(self):
        return self.__age
    
    def set_age(self,age):
         self.__age=age
    
    
minhaj=student("minhaj",22,20)
minhaj.name
minhaj._student__rollno

# s2=student("haj",29,25)

# s3=student("huma",32,22)

# minhaj.show()
# s2.sho
# minhaj.get_rollno()
minhaj.get_age()
minhaj.set_age(65)
minhaj.get_age()

65

# default constructor

In [5]:
class add:
    def sum(self):
        print("my name is khan.")
s=add()
s.sum()

my name is khan.

In [1]:
# non-parametrized constructor

In [2]:
class student:
    def __init__(self):
        self.name="khan"
        self.age="50"
    def show(self):
        print("NAME:",self.name,"AGE:",self.age)
        
s=student()        
s.show()

NAME: khan AGE: 50

In [9]:
# parametrized constructor

In [11]:
class Employee:
    def __init__(self,name,age,salary):
        self.name = name
        self.age = age
        self.salary = salary
    def show(self):
        print("NAME:",self.name,"AGE:",self.age,"SALARY:",self.salary)
s1=Employee("khan khalid",30,10000)
s1.show()

s2=Employee("khan huma",40,20000)
s2.show()

NAME: khan khalid AGE: 30 SALARY: 10000
NAME: khan huma AGE: 40 SALARY: 20000

In [17]:
# constructor with default value

class Student:
    def __init__(self,name, age=12, classroom=7):
        
        self.name = name
        self.age = age
        self.classroom = classroom
    
    def add(self):
        print(self.name,self.age,self.classroom)
s1 = Student("Amma")
s1.add()

s2 = Student("namma",13)
s2.add()

Amma 12 7
namma 13 7

In [56]:
# counting the no of object
class Employee:
    count=0
    def __init__(self):
        Employee.count=Employee.count+1
a=Employee()
b=Employee()
c=Employee()
print("no of employee is:",Employee.count)

no of employee is: 3

In [35]:
list=[2,4,5,6]
list=[12,13,14]

def add():
    for i in list:
        print(i) 
def show_element():
    for i in list:
        print(i)
        
# add() 

show_element()

12
13
14

In [47]:
def show_element(a):
    for i in a:
        print(i)
lst3=[2,3,4]
p="my name khan"
# show_element(lst3)
# show_element(p)
show_element("hello")

h
e
l
l
o

In [1]:
a=2
b=a
print(id(a))
print(id(b))
del a
# print(a)
print(b)

2902753935632
2902753935632
2

In [8]:
# return value

In [19]:
class Test:

    def __init__(self, i):
        self.i = i

    def add(self,k):
        self.k=k
        return(self.i+self.k)
        
d = Test(8)
d.add(3)
print(d.add(3))

11

# destructor

In [22]:
class add:
    def __init__(self,name,age):
        self.name=name
        self.age=age
    def show(self):
        print("name:",self.name,"age:",self.age)
s=add("surya",50)

del s
s.show()

NameError: name 's' is not defined

In [42]:
class add:
    def __init__(self,name,age):
        self.name=name
        self.age=age
    def show(self):
        print("name:",self.name,"age:",self.age)
    def __del__(self):
#         print("world")
        
        
s1=add("surya",20)
s2=add("ninja",30)
s3=add("minja",60)

del s1, s2,s3 
s1.show()
s3.show()

NameError: name 's1' is not defined

In [7]:
class student:
    def __init__(self,name):
        self.name= name
    def show(self):
        print("name:",self.name)
s1=student('emma')
s2=s1
s1.show()
del s1
# s1.show()
s2.show()

name: emma
name: emma

In [11]:
def add(a,b):
    x=a+b
    return x
c=add(4,2)
print(c)

6

In [7]:
class Student:
    # constructor
    def __init__(self, name, age):
        # Instance variable
        self.name = name
        self.age = age

# create object
stud = Student("Jessa", 20)

# Use getattr instead of stud.name
print('Name:', getattr(stud, 'name'))
print('Age:', getattr(stud, 'age'))
print("name:",stud.name,"age:",20)

Name: Jessa
Age: 20
name: Jessa age: 20

# encapsulation

In [6]:
class Employee:
    def __init__(self,name,salary,project):
        self. name=name
        self.salary=salary
        self.project=project
    
    def show(self):
        print("NAME:",self.name)
        print("SALARY:",self.salary)
              
        
    def work(self):
        print(self.name,"is working on",self.project)

emp=Employee('khan',50000,'LMT')
emp.show()
emp.work()

NAME: khan
SALARY: 50000
khan is working on LMT

# ACCESS MODIFIERS IN PYTHON

<!-- PUBLIC -->

In [16]:
# PUBLIC

class Student:
    def __init__(self,name,age):
        self.name = name 
        self.age = age
    
    
    def show(self):
        print(self.name,self.age)
stud=Student('minhaj',20)
print(stud.name,stud.age)     
stud.show()

minhaj 20
minhaj 20

In [2]:
# PRIVATE

In [3]:
class Employee:
    def __init__(self,name,age):
        self.name = name 
        self.__age = age
        
emp= Employee('khan',20)
print("SALARY:",emp.__age)

AttributeError: 'Employee' object has no attribute '__age'

In [13]:
# access by instance method
class Employee:
    def __init__(self,name,age):
        self.name = name 
        self.__age = age
     
    def show(self):
        print("NAME:",self.name,"AGE:",self.__age)
        
emp= Employee('khan',20)

emp.show()

NAME: khan AGE: 20

In [26]:
# NAME MANGLING
class Add:
    def __init__(self,name,age):
        self.name = name
        self.__age = age

d=Add('khan',30)
print(d.name,d._Add__age)

khan 30

In [2]:
# protected member

In [9]:
class Company:
    def __init__(self):
        self._salary = 40000
        
class Employee:
    def __init__(self,name):
        self.name = name
        Company.__init__(self)
    def show(self):
        print(self.name)
        print(self._salary)
A=Employee("khan")
A.show()
print("salary:",A._salary)

khan
40000
salary: 40000

In [8]:
class Company:
    def __init__(self):
        # Protected member
        self._project = "NLP"

# child class
class Employee(Company):
    def __init__(self, name):
        self.name = name
        Company.__init__(self)

    def show(self):
        print("Employee name :", self.name)
        # Accessing protected member in child class
        print("Working on project :", self._project)

c = Employee("Jessa")
c.show()
print("project:",c._project)

Employee name : Jessa
Working on project : NLP
project: NLP

In [2]:
# setter and getter

In [13]:
class add:
    def __init__(self,name,age):
        self.name = name
        self.__age = age
        
    def get_age(self):
        return self.__age
    
    def setage(self,age):
        self.__age = age
s=add("khan",50)
print("NAME:",s.name,"AGE:",s.get_age())
s.setage(30)
print("NAME:",s.name,"AGE:",s.get_age())

NAME: khan AGE: 50
NAME: khan AGE: 30

In [14]:
# SETTER

In [25]:
class Student:
    def __init__(self,name,rollno,age):
        self.name = name
        self.__rollno = rollno
        self.__age = age
    def show(self):
        print("student detail:",self.name,self.__rollno)
        
    def get_rollno(self):
        return self.__rollno
    
    def set__rollno(self,number):
        if number>50:
            print("invalid roll no plz set correct rollno")
        else:
            self.__rollno=number
z=Student("khan",10,15) 
z.show()
z.set__rollno(60)
z.set__rollno(40)
z.show()
z.get_rollno()

student detail: khan 10
invalid roll no plz set correct rollno
student detail: khan 40

40

# CLASS VARIABLE

In [15]:
class Student:
    schoolname = "ABC_school"
    def __init__(self,name,roll):
        self.name = name
        self.roll = roll
s=Student("khan",20)
print(s.name,s.roll,Student.schoolname)

s1=Student("maan",30)
print(s1.name,s1.roll,s1.schoolname)

khan 20 ABC_school
maan 30 ABC_school

In [10]:
# access inside the constructor

In [12]:
class student:
    madrasa_name = 'kulliya-umme-salma'
    
    def __init__(self,name):
        self.name = name
        print(self.madrasa_name)
        print(student.madrasa_name)
A=student("nikhat")

kulliya-umme-salma
kulliya-umme-salma

In [14]:
# Access class variable inside methodand outside class

In [20]:
a={}
print(type(a))

<class 'dict'>

In [18]:
a={125,'gf',}
print(type(a))

<class 'set'>

In [2]:
a={}
print(type(a))

<class 'dict'>

In [22]:
a=set()
print(type(a))

<class 'set'>

In [6]:
class Course:
    # class variable
    course = "Python"

class Student(Course):

    def __init__(self, name):
        self.name = name

    def show_student(self):
        # Accessing class variable of parent class
        print('Before')
        print("Student name:", self.name, "Course Name:", Student.course)
        # changing class variable value of base class
        print('Now')
        Student.course = "Machine Learning"
        print("Student name:", self.name, "Course Name:", Student.course)

# creating object of Student class
stud = Student("Emma")
stud.show_student()

Before
Student name: Emma Course Name: Python
Now
Student name: Emma Course Name: Machine Learning

# polymorphism

In [7]:
class vehicle:
    def __init__(self,name,colour,price):
        self.name = name
        self.colour = colour
        self.price = price
     
    def show(self):
        print("NAME:",self.name,"COLOUR:",self.colour,"PRICE:",self.price)
        
    def speed(self):
        print("vehicle max speed is 150")
        
    def gear(self):
        print("vehicle change 6 gear")
        
class car(vehicle):
    def speed (self):
        print("car max speed is 150")
        
#     def gear(self):
#         print("car change 5 gear")
        
        
c=car('bmw','black',5000000) 
c.show()
c.speed()
c.gear()

k=vehicle('lorry','green',200000)
k.show()
k.speed()
k.gear()

NAME: bmw COLOUR: black PRICE: 5000000
car max speed is 150
vehicle change 6 gear
NAME: lorry COLOUR: green PRICE: 200000
vehicle max speed is 150
vehicle change 6 gear

# over ride built in function

In [11]:
class Shopping:
    def __init__(self,basket,buyer):
        self.basket = list(basket)
        self.buyer = buyer
    def __len__(self):
        print("redefine length")
        count = len(self.basket)
        return count * 2
shopping = Shopping({"shoes","socks","dress"},"khan")  
print(len(shopping))

redefine length
6

# polymorphism in class method

In [14]:
class teacher:
    
    def age(self):
        print("teacher age is 30")
        
    def rollno(self):
        print("teacher rollno is 25")
        
class student: 
    def age(self):
        print("student age is 15")
        
    def rollno(self):
        print("student rollno is 3")
t=teacher()
s=student()
for car in (t,s):
    car.age()
    car.rollno()

teacher age is 30
teacher rollno is 25
student age is 15
student rollno is 3

# polymorphism with function and object

In [17]:
class teacher:
    def age(self):
        print("teacher age is 30")
    
    def roll_no(self):
        print("teacher roll no is 10")
        
class student:
    def age(self):
        print("student age is 12")
        
    def roll_no(self):
        print("student roll no is 2")
# normal function
def car(a):
    a.age()
    a.roll_no()
    
A=teacher()
B= student()

car(A)
car(B)

teacher age is 30
teacher roll no is 10
student age is 12
student roll no is 2

<!-- # REVERSED METHOD -->

# REVERSED METHOD

In [36]:
STUDENT=["surya","murya","ruqya"]
SCHOOL="ABC"
for i in reversed('pynative'):
    print(i,end="  ")
print('reverse list')
for i in reversed(["kullya","umme","salma"]):
    print(i,end="")

e  v  i  t  a  n  y  p  reverse list
salmaummekullya

In [39]:
# method overlaoding

def addition(a,b):
    c=a+b
    print(c)
def addition(a,b,c):
    d=a+b+c
    print(d)
    
    
addition(3,2,3)

8

In [41]:
# method overloading in range

In [50]:
for i in range(5):
    print(i,end=" ")
print()    

for i in range(5,10):
    print(i,end=" ")
print()

for i in range(1,12,2):
    print(i,end=" ")

0 1 2 3 4
5 6 7 8 9
1 3 5 7 9 11

In [51]:
# AREA METHOD
# User-defined polymorphic method

In [9]:
class Shape:
    def area(self,a,b=0):
        if b > 0:
            print("area of rectangle is:",a*b)
        else:
            print("area of square is:",a**b)
a=Shape()
a.area(5)

b=Shape()
b.area(4,3)

area of square is: 1
area of rectangle is: 12

In [1]:
class Employee:
    def __init__(self, name, salary):
        self.name = name
        self.salary = salary

    def __mul__(self, sheet):
        print('Worked for', sheet.days, 'days')
        # calculate salary
        return self.salary * sheet.days


class TimeSheet:
    def __init__(self, name, days):
        self.name = name
        self.days = days
        
emp = Employee("Jessa", 800)
timesheet = TimeSheet("Jessa", 50)
print("salary is: ", emp * timesheet)

Worked for 50 days
salary is:  40000

In [3]:
class Employee:
    def __init__(self, name, salary):
        self.name = name
        self.salary = salary
#     def __mul__(obj2, obj1):
#         print('Worked for', obj1.days, 'days')
#         # calculate salary
#         return obj2.salary * obj1.days
class TimeSheet:
    def __init__(self, name, days):
        self.name = name
        self.days = days
    def __mul__(o1,o2):
        print('Worked for', o1.days, 'days')
        # calculate salary
        return o1.days*o2.salary
emp = Employee("Jessa", 800)        
timesheet = TimeSheet("Jessa", 50)
 
print("salary is: ", emp*timesheet )

TypeError: unsupported operand type(s) for *: 'Employee' and 'TimeSheet'

# INHERITANCE

# SINGLE INHERITANCE

In [21]:
class Teacher:
    def complement(self):
        print("your teaching method is an engineous")
        
class Student(Teacher):
    def punishment(self):
        print("minhaj is a bad boy")
    
A=Student() 

A.complement()
A.punishment()

your teaching method is an engineous
minhaj is a bad boy

In [32]:
# MULTIPLE INHERITANCE
# parent class 1

class Principle:
    def info(self,name,age):
        print("inside a principle class")
        print("NAME:",name,"AGE:",age)
        
# parent class 2  

class Teacher:
    def t(self,name,address):
        print("inside company class")
        print("NAME:",name,"ADDRESS:",address)
        
# child class  

class Student(Principle,Teacher):
    def student(self,name,age):
        print("inside child class")
        print("NAME:",name,"AGE:",age)
E=Student()
E.info('sadique_sir',55)
E.t('khan',"xyz")
E.student('neha',15)

inside a principle class
NAME: sadique_sir AGE: 55
inside company class
NAME: khan ADDRESS: xyz
inside child class
NAME: neha AGE: 15

# multilevel inharitance

In [57]:
class Employee:
    def __init__(self, name, salary):
        self.name = name
        self.salary = salary
    def __mul__(obj2, obj1):
        print('Worked for', obj1.days, 'days')
        # calculate salary
        return obj2.salary * obj1.days
class TimeSheet:
    def __init__(self, name, days):
        self.name = name
        self.days = days
#     def __mul__(o1,o2):
#         print('Worked for', o1.days, 'days')
#         # calculate salary
#         return o1.days*o2.salary
        
timesheet = TimeSheet("Jessa", 50)
emp = Employee("Jessa", 800)
print("salary is: ", emp*timesheet )

Worked for 50 days
salary is:  40000

In [44]:
# multilevel inheritance
# this is also called chaining class
class A:
    
    def parent_info(self):
        print("grandfather is always grand")
        
class B(A):
    
    def parent_info(self):
        print("father is great")
class C(B,A):
    
    def child_info(self):
        print("child is child")
a=C()
a.parent_info()

a.child_info()
print(C.mro())

father is great
child is child
[<class '__main__.C'>, <class '__main__.B'>, <class '__main__.A'>, <class 'object'>]

# HEIRARCHICAL

In [69]:
class Vehical:
    def info(self):
        print("vehical is big")
        
class Car(Vehical):
    def car_info(self,name):
        print("car name is:",name)
        
class Truck(Vehical):
    def truck_info(self,name):
        print("truck is large and name:",name)
        
a=Truck()
a.info()
a.truck_info('ford')

b=Car()
b.info()
b.car_info('BMW')

vehical is big
truck is large and name: ford
vehical is big
car name is: BMW

# HYBRID INHERITANCE

In [11]:
class Vehicle:
    def vehicle_info(self):
        print("inside vehicle class")
        
class Car(Vehicle):
    def car_info(self):
        print("inside car class")
        
class Truck(Vehicle):
    def truck_info(self):
        print("inside a truck class")
        
class Sports_car(Car,Vehicle):
    def sports_info(self):
        print("insides ports_car class")
a=Sports_car()
a.sports_info()
# a.truck_info()
a.car_info()

insides ports_car class
inside car class

# super funtion

In [15]:
class EMPLOYEE:
    def __init__(self,name,age):
        print("inside employee class")
        self.name= name
        self.age= age
    def show(self):
        print("Employee name is:",self.name,self.age)
        
class EMPLOYEE1(EMPLOYEE):
    def __init__(self,name,age,salary):
        super().__init__(name,age)
        a=super().show()
        self.salary= salary
    def show1(self):
        print("salary:",self.salary)
b=EMPLOYEE1("iram",52,10000000)
b.show()
b.show1()

inside employee class
Employee name is: iram 52
Employee name is: iram 52
salary: 10000000

In [8]:
x = "iram"

def myfunc():
    print("Python is " + x)

myfunc()

Python is iram

In [17]:
class student:    
    def __init__(self,name,rollno):
        self.name=name
        self.rollno=rollno
    def show(self):
        return "Name of the student:",self.name,"Roll no of the student:",self.rollno
class school(student):
    def __init__(self, name, rollno,age):
        super().__init__(name, rollno)       
        self.age = age
        zikra = super().show()
    def show(self):
        self.school="abp school"
        "school name:",self.school, "rollno.:",self.rollno, "age:", self.age  
class home(school):
    def __init__(self, name, rollno,age, subject):
        super().__init__(name, rollno, age)
        self.subject = subject     
    def show(self):
        zikra = super().show()
        self.school="abp school"
        return "school name:",self.school, "rollno.:",self.rollno, "subject:", self.subject,zikra 
s1=home('iram',55,33,"Maths")
s1.show()

('school name:', 'abp school', 'rollno.:', 55, 'subject:', 'Maths', None)

In [18]:
class Company:
    def company_name(self):
        return 'Google'

class Employee(Company):
    def info(self):
        # Calling the superclass method using super()function
        c_name = super().company_name()
        print("Jessa works at", c_name)

# Creating object of child class
emp = Employee()
emp.info()

Jessa works at Google

In [19]:
class Company:
    def name(self):
        return "Google"
    
class Employee(Company):
    def info(self):
        a=super().name()
        print("jessa work at",a)
emp= Employee()
emp.info()

jessa work at Google

# issub class

In [18]:
class GrandFather:
    def grand(self):
        print("inside grand father class")
        
class Father(GrandFather):
    def father(self):
        print("inside in father class")
        
class Child:
    def child(self):
        print("inside in the child class")
        
print(issubclass(Father,GrandFather))  
print(issubclass(GrandFather,(tuple,GrandFather)))

True
True

In [31]:
class A:
    def process(self):
        print(" In class A")

class B(A):
    def process(self):
        print(" In class B")

class C(B,A):
    def process(self):
        print(" In class C")

# Creating object of C class
C1 = C()
C1.process()
print(C.mro())

 In class C
[<class '__main__.C'>, <class '__main__.B'>, <class '__main__.A'>, <class 'object'>]

In [25]:
class A:
    def process(self):
        print(" In class A")

class B:
    def process(self):
        print(" In class B")

class C(A,B):
    def process(self):
        print(" In class C")

# Creating object of C class
C1 = C()
C1.process()

 In class C