# STRINGS

In [2]:
# to check weather a given string is a palindrome?(1)
a=input("")
b=a[::-1]
if a==b:
    print("palindrome")
else:
    print("not palindrome")

khan
not palindrome

In [3]:
# to capitalize the first character in a given sentence:(2)
a="she has a car"
b=a.capitalize()
print(b)

She has a car

In [4]:
# 3.Program to convert String to a List.(3)
a="minhaj is a bad boy"
b=a.split()
print(b)

['minhaj', 'is', 'a', 'bad', 'boy']

In [15]:
# to sort alphabetically the words in a given sentence(4)
a="he has a car mar"
b=a.split()
b.sort()
for i in b:
    print(b)

['a', 'car', 'has', 'he', 'mar']
['a', 'car', 'has', 'he', 'mar']
['a', 'car', 'has', 'he', 'mar']
['a', 'car', 'has', 'he', 'mar']
['a', 'car', 'has', 'he', 'mar']

In [16]:
a="he has a car"
b=a.split()
b.sort()
print(b)

['a', 'car', 'has', 'he']

In [17]:
a="he has a car"
b=a.split()
b.sort()
for i in b:
    print(i)

a
car
has
he

In [18]:
#  to demonstrate any 10 functions of string class(5)
a="blow your nose"
b=a.capitalize()
print(b)

Blow your nose

In [19]:
a="blow your nose"
b=a.count("o")
print(b)

3

In [20]:
a="    "
b=a.isspace()
print(b)

True

In [28]:
a="412mdugb"
b=a.isalnum()
print(b)

True

In [41]:
a="blow, your, nose"
b=a.rindex("nose")
print(b)

12

In [45]:
a="blow" "your" "nose"
b="#".join(a)
print(a)

blowyournose

In [48]:
a="blow","your","nose"
b="#".join(a)
print(b)

blow#your#nose

In [49]:
a="blow, your,nose"
b="#".join(a)
print(b)

b#l#o#w#,# #y#o#u#r#,#n#o#s#e

In [50]:
a="blow YOUR nose"
b=a.swapcase()
print(b)

BLOW your NOSE

In [59]:
a="minhaj"
b="20"
print(a.zfill(10))
print(b.zfill(5))

0000minhaj
00020

In [73]:
a="she has a bike"
print(a[::-1])
print(a[-1::-1])
print(a[::])
# print(a[5:10:-1])

ekib a sah ehs
ekib a sah ehs
she has a bike

In [74]:
x="minhaj is a bad boy"
print("is"in x)

True

In [5]:
a="blow"  "your"  "nose"
b="#".join(a)
print(a)

blowyournose

In [6]:
a="blow","your","nose"
b="#".join(a)
print(b)

blow#your#nose

In [13]:
a="blow, your, nose"
b="#".join(a)
print(a)

blow, your, nose

# list

In [16]:
# (1)TO CREAT 5 DIFFERENT LIST USING LIST COMPREHENSION METHOD loop method

b=["apple","banana","cherry","lichi","melon"]
newlist=[]
for x in b:
    if "a" in x:
        newlist.append(x)
print(newlist)

['apple', 'banana']

In [18]:
a=["apple","banana","cherry","lichi","melon"]
newlist=[]
for i in a:
    if "e" in i:
        newlist.append(i)
print(newlist)

['apple', 'cherry', 'melon']

In [22]:
a=["all","ball","call","shall","ill","merry"]
newlist=[]
for x in a:
    if "a" in x:
        newlist.append(x)
print(newlist)

['all', 'ball', 'call', 'shall', 'pagal']

In [24]:
#  with lisT comprehension we can do all that with only one line of code

a=["apple","ball","cell","dog","orange"]
newlist=[x for x in a if "o" in x]
print(newlist)

['dog', 'orange']

In [25]:
a=["orange","bowl","ball","call","old"]
newlist=[x for x in a if "a" in x]
print(newlist)

['orange', 'ball', 'call']

In [26]:
b=["neha","tabassum","minhaj","zainab","zeba"]
newlist=[x for x in b if "z" in x ]
print(newlist)

['zainab', 'zeba']

In [27]:
# only execpt items that are not "cherry"
a=["apple","ball","call","cherry"]
newlist=[x for x in a if x!="call"]
print(newlist)

['apple', 'ball', 'cherry']

In [30]:
b=["apple","ball","call","cherry"]
newlist=[x for x in b if x!="cherry"]
print(newlist)

['apple', 'ball', 'call']

In [36]:
b=["apple","ball","call","dog","cat","car"]
newlist=[x for x in b if x!="ball"]
print(newlist)

['apple', 'call', 'dog', 'cat', 'car']

In [34]:
a=["apple","ball","call","cat","bat"]
newlist=[]
for i in a:
    if "t" in i:
        newlist.append(i)
print(newlist)

['cat', 'bat']

In [41]:
# set all values in list
a=["ball","call","all","hall"]
newlist=["wall"  for x in a]
print(newlist)

['wall', 'wall', 'wall', 'wall']

In [42]:
a=["ball","call","all"]
newlist=["wall" for x in "a"]
print(newlist)

['wall']

In [28]:
a=["apple","call","ball","dog"]
newlist=[i.upper () for i in a]
print(newlist)

['APPLE', 'CALL', 'BALL', 'DOG']

In [10]:
a=["apple","ball","call","fall"]
newlist=[x if x != "ball" else "hall"for x in a]
print(newlist)

['apple', 'hall', 'call', 'fall']

In [15]:
a=["apple","ball","call","fall"]
newlist+[x if x != "apple" else "wall" for x in a]
print(newlist)

['apple', 'hall', 'call', 'fall']

In [18]:
# 2.Create list , add random 10 numbers in list and print largest number of list.
a=[2,6,4,9,3]
print(max(a))

9

In [21]:
# (3) to check whethere a given number is present in list or not
a=[3,6,9,2,6,8]
print(6 in a)

True

In [23]:
a="mumbai coding club"
print('coding' in a)

True

In [26]:
a=[2,4,6,9,3]
print(9 in a)

True

In [30]:
# any 10 method of list
# append
a=["apple","ball","call","hall","mall","shall"]
a.append("wall")
print(a)

['apple', 'ball', 'call', 'hall', 'mall', 'shall', 'wall']

In [33]:
a=["apple","ball","call","hall","mall","shall"]
a.append("goal")
print(a)

['apple', 'ball', 'call', 'hall', 'mall', 'shall', 'goal']

In [36]:
fruit=["apple","banana","melon","cherry"]
flower=["rose","lilly","mogra","tulip"]
fruit.extend(flower)
print(fruit)

['apple', 'banana', 'melon', 'cherry', 'rose', 'lilly', 'mogra', 'tulip']

In [57]:
fruit=["apple","banana","melon","cherry"]
fruit.append("flower")
print(fruit)

['apple', 'banana', 'melon', 'cherry', 'flower']

In [43]:
fruit=["apple","banana","melon","cherry"]
flower=["rose","lilly","mogra","tulip"]
fruit.extend(flower)
print(fruit)

['apple', 'banana', 'melon', 'cherry', 'rose', 'lilly', 'mogra', 'tulip']

In [50]:
flower=["rose","apple","lilly","apple","mogra","tulip"]
x=flower.count("apple")
print(x)

2

In [58]:
x=['anam',"shabn=eena","minhaj","iram","zikra","afreen","iram","anam"]
y=x.count("iram")
print(y)

2

In [53]:
name=['anam',"shabn=eena","minhaj","iram","zikra","afreen","iram","anam"]
name.reverse()
print(name)

['anam', 'iram', 'afreen', 'zikra', 'iram', 'minhaj', 'shabn=eena', 'anam']

In [54]:
x=['anam',"shabn=eena","minhaj","iram","zikra","afreen","iram","anam"]
x.sort()
print(x)

['afreen', 'anam', 'anam', 'iram', 'iram', 'minhaj', 'shabn=eena', 'zikra']

In [63]:
x=['anam',"shabn=eena","minhaj","iram","zikra","afreen","iram","anam"]
x.pop(5)
print(x)

['anam', 'shabn=eena', 'minhaj', 'iram', 'zikra', 'iram', 'anam']

In [64]:
x=['anam',"shabn=eena","minhaj","iram","zikra","afreen","iram","anam"]
x.insert(1,"mareena")
print(x)

['anam', 'mareena', 'shabn=eena', 'minhaj', 'iram', 'zikra', 'afreen', 'iram', 'anam']

In [66]:
x=['anam',"shabn=eena","minhaj","iram","zikra","afreen","iram","anam"]
y=x.index("iram")
print(y)

3

In [70]:
x=['anam',"shabn=eena","minhaj","iram","zikra","afreen","iram","anam"]
y=x.copy()
print(x)

['anam', 'shabn=eena', 'minhaj', 'iram', 'zikra', 'afreen', 'iram', 'anam']

In [71]:
x=['anam',"shabn=eena","minhaj","iram","zikra","afreen","iram","anam"]
x.clear()
print(x)

[]

In [75]:
# .To add two list [ adding elements of list ]
list1=["apple","ball","cat"]
list2=["rose","lilly","tulip"]
zipped=zip(list1,list2)

print(list(zipped))

[('apple', 'rose'), ('ball', 'lilly'), ('cat', 'tulip')]

In [1]:
list1=["1st standard","2nd standard","3rd standard"]
list2=[40,50,50]
zipped=zip(list1,list2)
# print(list(zipped))

l1=[1,2,3]
l2="minhaj"
print(zip(l1,l2))

<zip object at 0x0000021B1F36E0C0>

In [2]:
list1=["apple","cherry","melon"]
list2=["1kg","5kg","3kg"]
x=zip(list1,list2)
print(list(x))

[('apple', '1kg'), ('cherry', '5kg'), ('melon', '3kg')]

In [3]:
# .To sort a given number list in ascending order using functions.
def add():
    x=['minhaj', 'is','a','good','girl']
    x.sort()
    print(x)
add()

['a', 'girl', 'good', 'is', 'minhaj']

In [96]:
def add():
    x=["minhaj is a good gir","a"]
    x.sort()
    print(x)
add()

['a', 'minhaj is a good gir']

In [3]:
# stack (last in first out)
a=[]
a.append("apple")
a.append("ball")
a.append("cat")
print(a)

a.pop()
print(a)

a.pop()
print(a)

['apple', 'ball', 'cat']
['apple', 'ball']
['apple']

In [6]:
b=[]
b.append("hall")
b.append("ball")
b.append("call")
b.append("mall")
print(b)

b.pop()
print(b)

['hall', 'ball', 'call', 'mall']
['hall', 'ball', 'call']

# if else, for loop, and range() Exercises

In [8]:
# to print odd and even number(1)

n=int(input("enter number"))
if n%2==0:
    print("number is even")
else:
    print("number is odd")

enter number6
number is even

In [9]:
n=int(input("enter number"))
if n%2==0:
    print("even number")
else:
    print("odd number")

enter number3
odd number

In [1]:
# 2.Count the total number of digits in a number while loop

n=int(input("enter number"))
count=0
while n>0:
    n=n//10
    count+=1
print("digit number",count)

enter number23456
digit number 5

In [2]:
# 2.Count the total number of digits in a number for loop
n=input("enter number")
def digits(n):
    count=0
    for i in n:
        if i .isdigit():
            count+=1
    return count   
s=digits(n)
print("enter digits",s)

enter number34567
enter digits 5

In [ ]:
n=input("enter number")
count=0
for i in n:
    if i .isdigit():
        count+=1
print("enter digits",i)

In [1]:
n=input("")
def digits(n):
    count=0
    for x in n:
        if x .isdigit():
            count+=1
    return count
k=digits(n)
print("enter digit",k)

5
enter digit 1

In [2]:
n=input("")
def digit(n):
    count=0
    for i in n:
        if i .isdigit():
            count+=1
    return count
m=digit(n)
print("enter digit",m)

67gh
enter digit 2

In [7]:
# 2.Count the total number of digits in a number for loop

n=input("")
def digit(n):
    count=0
    for x in n:
        if n .isdigit():
            count+=1
    return count
k=digit(n)
print("enter digit",k)

3456
enter digit 4

In [9]:
n=input("")
def digit(n):
    count=0
    for i in n:
        if i .isdigit():
            count+=1
    return count
x=digit(n)
print("enter digit",x)

345sdf
enter digit 3

In [16]:
n=str(input(""))
def alpha(n):
    count=0
    for i in n:
        if i .isalpha():
            count+=1
    return count
k=alpha(n)
print("enter alpha",k)

suraiya
enter alpha 7

In [19]:
# 2.Count the total number of digits in a number for loop
n=input("")
count=0
for i in n:
    if i.isdigit():
        count+=1
print("digit",count)

345678sdfghjk
digit 6

In [ ]:
n=input()
count=0
for i in n:
    if i .isalpha():
        count+=1
print("digit",count)

In [1]:
n=int(input(""))
count=0
while n>0:
    n=n//10
    count+=1
print("digit",count)

3467
digit 4

In [2]:
n=int(input(""))
count=0
while n>0:
    n=n//10
    count+=1
print("digit",count)

2345678
digit 7

In [3]:
n=input("")
count=0
for i in n:
    if i .isdigit():
        count+=1
print("digit",count)

123456
digit 6

In [16]:
n=input("")
def digit(n):
    count=0
    for i in n :
        if i .isdigit():
            count+=1
    return count
l=digit(n)
print("digit",l)

2
digit 1

In [6]:
n=int(input("enter number"))
if n%2==1:
    print("odd number")
else:
    print("even number")

enter number3
odd number

In [18]:
count=0
n =input("")
# count=0
for i in n:
    if i .isalpha():
        count+=1
print("",count)

345ert
 3

In [3]:
# write a programm to print multiplication table of a given number

# i=1
a=int(input("enter number"))
i=1
while i<=10:
    print(a,'x',i,"=",a*i)
    i=i+1

enter number2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [5]:
a=int(input("enter number"))
b=1
while b<11:
    print(a, "x",b, "=",a*b)
    b=b+1

enter number2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [7]:
x=int(input("enter numnber"))
y=1
while y<11:
    print(x,"x",y,"=",x*y)
    y=y+1

enter numnber2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [8]:
n=int(input("number"))
a=1
while a<11:
    print(n,"x",a,"=",n*a)
    a=a+1

number2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [1]:
m=1
n=int(input("number"))
while m<11:
    print(n,"x",m,"=",n*m)
    m=m+1

number2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [5]:
# calculate the cube of all numbers from 1 to a given number
def cube (x):
    res = x**3
    return res
n= int (input("enter number"))
print(cube(n))

enter number4
64

In [6]:
n=int(input("enter number"))
def cube(n):
    a=n**3
    return a
print(cube(n))

enter number2
8

In [9]:
n=int(input("enter"))
def cube(n):
    m=n**3
    return m
print(cube(n))

enter2
8

In [10]:
a=int(input("number"))
def cube(a):
    b=a**3
    return b
c=cube(a)
print("enter number",c)

number2
enter number 8

In [17]:
n=int(input("number"))
def cube(n):
    a=n**3
    return a
print(cube(n))

number2
8

In [21]:
#  (5)find a factorial of a given number

i=int(input("enter a number:"))
fac=1
while i > 0:
    fac=fac*i
    i=i-1
print("factorial=",fac)

enter a number:3
factorial= 6

In [28]:
n=int(input("enter number"))
fact=1
while n>0:
    fact=fact*n
    n= n-1
print("factorial=",fact)

enter number3
factorial= 6

In [31]:
n=int(input("enter"))
fact=1
while n>0:
    fact=fact*n
    n=n-1
print("factorial=",fact)

enter3
factorial= 6

In [32]:
a=int(input("enter"))
fac=1
while a>0:
    fac=fac*a
    a=a-1
print("factorial=",fac)

enter3
factorial= 6

In [35]:
# display fibonacci series up to 10 terms

n=int(input("enter number"))
x=0
y=1
z=0
while (z <= n):
    print(z)
    x=y
    y=z
    z=x+y

enter number5
0
1
1
2
3
5

In [37]:
n=int(input("number"))
x=0
y=1
z=0
while z<n:
    print(z)
    x=y
    y=z
    z=x+y

number7
0
1
1
2
3
5

In [40]:
a=int(input("number"))
x=0
y=1
z=0
while z<a:
    print(z)
    x=y
    y=z
    z=x+y

number10
0
1
1
2
3
5
8

In [42]:
n=int(input("number"))
x=0
y=1
z=0
while z<n:
    print(z)
    x=y
    y=z
    z=x+y

number8
0
1
1
2
3
5

In [3]:
n=int(input("enter number"))
fact=1
while n>0:
    fact=fact*n
    n=n-1
print("factorial",fact)

enter number5
factorial 120

In [2]:
n=int(input("enter number"))
x=0
y=1
z=0
while z<n:
    print(z)
    x=y
    y=z
    z=x+y

enter number5
0
1
1
2
3

In [4]:
n=int(input("number"))
fac=1
while n>0:
    fac=fac*n
    n=n-1
print("factorial",fac)

number6
factorial 720

In [ ]:
n=int(input("enter number"))
def cube(n):
    a=n**3
    return a
print(cube(n))

In [1]:
n=int(input("enter number"))
def cube(n):
    a=n**3
    return a
b=cube(n)
print("number",b)

enter number5
number 125

# TUPLE

In [4]:
# a. To create a tuple having a number from 1-20. Print the half of its 
# value in 1 line and other half in next line .

tp=(1,2,4,6,9,15,12,4,5,9,14,1,4,2,1,7)
tp1=tp[:10]
tp2=tp[10:]
print(tp1)
print(tp2)

(1, 2, 4, 6, 9, 15, 12, 4, 5, 9)
(14, 1, 4, 2, 1, 7)

In [1]:
# (2). To create a tuple consisting of 20 number from a user. Create 
#  another tuple whose values are even number in the first tuple.
a=[]
for i in range(5):
    n=int(input("enter number"))
    a.append(n)
print(tuple(a)) 

b=[]
for x in a:
    if x%2==0:
        b.append(x)
print(tuple(b)) 

c=[]

for k in a:
    if k%2==1:
        c.append(k)
print(tuple(c))

enter number1
enter number2
enter number3
enter number4
enter number5
(1, 2, 3, 4, 5)
(2, 4)
(1, 3, 5)

In [8]:
a=[]
for i in range(1,5):
    n=int(input("number"))
    a.append(n)
print(tuple(a)) 

b=[]

for x in a:
    if x%2==0:
        b.append(x)
print(tuple(b)) 

c=[]
for k in a:
    if k%2==1:
        c.append(k)
print(tuple(c))

number1
number2
number60
number6
(1, 2, 60, 6)
(2, 60, 6)
(1,)

In [6]:
# c. To concatenate two tuples
tp1=(1,3,5,6,)
tp2=(2,2,4,5,6)
tp3=tp1+tp2
print(tp3)

(1, 3, 5, 6, 2, 2, 4, 5, 6)

In [4]:
tp=(1,2,3,4,5,6,7,8,9,1)
tp1=tp[:5]
tp2=tp[5:]
print(tp1)
print(tp2)

(1, 2, 3, 4, 5)
(6, 7, 8, 9, 1)

##

In [6]:
a="mumbai coding club"
print("club" in a)

True

In [16]:
#d. To check whether a given element is present in tuple or not .

thistp=("a",'s','t','y','u')
print("vb" in thistp)

tp=("apple","ball","cat","dog")
if "ball"in tp:
    print("yes,'ball' in tp")

False
yes,'ball' in tp

In [13]:
# to check substring is present in a given string
a="minhaj is a good girl"
print("minhaj"in a)

True

In [14]:
tuple1=("minhaj is a good girl")
print("minhaj" in a)

True

In [18]:
tp1=("minhaj is a bad boy")
if "boy"in tp1:
    print("yess,'boy'in tp1")

yess,'boy'in tp1

In [20]:
(5)# e. To use the following methods on a tuple in the program: 
# cmp(t1,t2)/t1==t2 ,len(t1) , zip(t1,t2) , max(t) , min(t) , tuple()

list1=[2,4,5,7,]
print(len(list1))

4

In [11]:
t1=('s','g','5','9')
print(len(t1))

4

In [24]:
tup=(2,3,4,6,7,9)
print(max(tup))

9

In [25]:
tp=(1,3,8,9,0)
print(min(tp))

0

In [10]:
tup=("d","y")
print(type(tup))

<class 'tuple'>

In [22]:
list1=["apple6","ball","cat"]
list2=["minhaj","pagal","hai"]
zipped=zip(list1,list2)
print(list(zipped))

[('apple6', 'minhaj'), ('ball', 'pagal'), ('cat', 'hai')]

# DICTIONARY

In [3]:
n=input("enter key=")
d={"minhaj":"pav","suraiya":"roti","nargis":{"B":"maggi","lunch":"bada","dinner":"dalroti",}}
# print(d)
d["zikra"]="junkfood"
d['420']="kabab"
print(d[n])

enter key=420
kabab

In [6]:
d={"minhaj":"pav","suraiya":"roti"}
print(d.get("harry"))

None

In [14]:
#  f. To create a dictionary with any five key value pair . print the 
# dictionary . Add an element in a given dictionary and delete an 
# element

d={
    "anam":"14",
    "mimnhaj":"15",
    "nargis":"16",
    "zikra":"17",
    "iram":"18",
}
print(d)

d['suraiya']="20"
print(d)

del d['zikra']

print(d)

{'anam': '14', 'mimnhaj': '15', 'nargis': '16', 'zikra': '17', 'iram': '18'}
{'anam': '14', 'mimnhaj': '15', 'nargis': '16', 'zikra': '17', 'iram': '18', 'suraiya': '20'}
{'anam': '14', 'mimnhaj': '15', 'nargis': '16', 'iram': '18', 'suraiya': '20'}

In [8]:
# g. To create 2 dictionaries using dictionary comprehension method.
flower={
    "lily":"50",
    "rose":"60",
    "lotus":"40"
}
# print(flower)
flow={x for x in flower}
# print(flow)

{k:v for k,v in flower.items()}

{'lily': '50', 'rose': '60', 'lotus': '40'}

In [9]:
# h. To demonstrate any five methods on dictionary (fromkeys)1

x=('nargis','suraiya','anam')
y='khan'
mydict=dict.fromkeys(x,y)
print(mydict)

{'nargis': 'khan', 'suraiya': 'khan', 'anam': 'khan'}

In [10]:
x=("nargis","jahnim","minhaj")
y="khan"
z=dict.fromkeys(x,y)
print(z)

{'nargis': 'khan', 'jahnim': 'khan', 'minhaj': 'khan'}

In [11]:
name={
    "suraiya":"khan",
    "ruqaiya":"shaikh",
    "anam":"malik"
}
x=name.keys()
print(x)
x=name.values()
print(x)

dict_keys(['suraiya', 'ruqaiya', 'anam'])
dict_values(['khan', 'shaikh', 'malik'])

In [12]:
d={"minhaj":"khan","sumaiya":"samani","suraiya":"khan"}
y=name.keys()
z=name.values()
print(y)
print(z)

dict_keys(['suraiya', 'ruqaiya', 'anam'])
dict_values(['khan', 'shaikh', 'malik'])

In [14]:
#  update 3
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

car.update({"color": "White"})

print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'White'}

In [2]:
# Write a Python function to create and print a list where 
# the values are square
# of numbers between 1 and 30 (both included).(5)

def printValues():
    l = list()
    for i in range(0,30):
        l.append(i**2)
    print(l)
printValues()

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841]

In [21]:
a=[1,2,3,4,5]
def square(x):
    return x**2
# map(square,a)
list(map(square,a))

In [19]:
a=[1,2,3,4,5,6]
tuple(map(lambda x:x*x,a))

(1, 4, 9, 16, 25, 36)