# stings
# to check weather a given string is a palindrome?(1)
# b="level"
# print(b[0:5])
# print(b[-5:5])

a=input("enter here")
b=a[::-1]
if a==b:
    print("palindrome")
else:
    print("not palindrome")

In [5]:
# to capitalize the first character in a given sentence:(2)
a="minhaj is a good girl"
x=a.capitalize()
print(x)

# 3.Program to convert String to a List.(3)

x="minhaj is a bad boy"
y=x.split()
print(y)

Minhaj is a good girl
['minhaj', 'is', 'a', 'bad', 'boy']

In [7]:
# to sort alphabetically the words in a given sentence(4)
x= "hello why ball"
y=x.split()
y.sort()
for i in y:
    print(i)

ball
hello
why

In [10]:
# (1)
# to demonstrate any 10 functions of string class(5)
mystr="my name is khan"
x=mystr.capitalize()
print(x)

My name is khan

In [11]:
# (3)
# count
fruits=" apple is my fav and banana and orange also"
x=fruits.count("and")
print(x)

2

In [13]:
# (4)
# isspace
car="  "
x=car.isspace()
print(x)

True

In [2]:
# (5)
# isalnum
car="nano12"
x=car.isalnum()
print(x)

True

In [15]:
# (6)
txt="my name is khan."
x=txt.rindex("name")
print(x)

3

In [3]:
# (7)
# join("")
on=("kal","aj","parso")
x="#".join(on)
print(x)

kal#aj#parso

In [17]:
# (8)
# rfind
txt=("kal parso narso")
x=txt.rfind('parso')
print(x)

4

In [18]:
# (9)
# swapcase
txt=("hello my world")
x=txt.swapcase()
print(x)

HELLO MY WORLD

In [19]:
# (10)
# zfill
txt="50"
x=txt.zfill(10)
print(x)

0000000050

In [20]:
# to demonstrate string slice
x="fello world"
print(x[1:7])
print(x[:40])
print(x[0:40])
print(x[-4:-1])
print(x[:-8])

ello w
fello world
fello world
orl
fel

In [21]:
# to check substring is present in a given string this should be complete by EOD
x="mumbai coding club"
print("coding" in x)

True

# list task

In [22]:
# (1)TO CREAT 5 DIFFERENT LIST USING LIST COMPREHENSION METHOD loop method

list1=["apple","ball","cat","dog"]
newlist=[]
for x in list1:
    if "a" in x:
        newlist.append(x)
print(newlist)

['apple', 'ball', 'cat']

In [4]:
# with lisT comprehension we can do all that with only one line of code

fruits=["apple","cherry","banana","lichi"]
newlist=[x for x in fruits if "a"in x ]
print(newlist)

['apple', 'banana']

In [26]:
# only execpt items that are not "cherry"

fruits=["apple","cherry","banana","lichi"]
newlist=[x for x in fruits if x!="cherry" ]
print(newlist)

['apple', 'banana', 'lichi']

In [9]:
# set all values in the new list

fruits=["apple","cherry","banana","lichi"]
newlist=["hello" for x in fruits]
print(newlist)

['hello', 'hello', 'hello', 'hello']

In [11]:
# if else

fruits=["apple","cherry","banana","lichi"]
newlist=[x if x!= "banana" else"orange" for x in fruits]
print(newlist)

['apple', 'cherry', 'orange', 'lichi']

In [29]:
# 2.Create list , add random 10 numbers in list and print largest number of list.


list1=[5,3,8,10,21,1,6,8,55]
print(max(list1))

55

In [30]:
# (3) to check whethere a given number is present in list or not

x=[23,56,78,96]
print(23 in x)

True

In [31]:
# to demonstrate any 10 method of list(1)

fruits = ["apple", "banana", "cherry"]

fruits.append("orange")

print(fruits)

['apple', 'banana', 'cherry', 'orange']

In [32]:
# extend(2)
fruits = ["apple", "banana", "cherry"]
flower=["rose","rosemerry","lilly"]
fruits.extend(flower)
print(fruits)

['apple', 'banana', 'cherry', 'rose', 'rosemerry', 'lilly']

In [33]:
# (3)count
fruits = ["apple", "banana", "cherry"]
x=fruits.count("apple")
print(x)

1

In [34]:
# (4)reverse
fruits = ["apple", "banana", "cherry"]
fruits . reverse()
print(fruits)

['cherry', 'banana', 'apple']

In [1]:
# (5)sort
fruits = ["bpple", "anana", "hherry"]
fruits.sort()
print(fruits)

['anana', 'bpple', 'hherry']

In [13]:
# (6)pop
fruits = ["apple", "banana", "cherry"]
fruits.pop(2)
print(fruits)

['apple', 'banana']

In [3]:
# (7)insert
fruits = ["apple", "banana", "cherry"]
fruits.insert(2,"orange")
print(fruits)

['apple', 'banana', 'orange', 'cherry']

In [4]:
# (8)index
fruits = ["apple", "banana", "cherry"]
x=fruits.index("cherry")
print(x)

2

In [5]:
# (9)copy
fruits = ["apple", "banana", "cherry"]
x=fruits . copy()
print(x)

['apple', 'banana', 'cherry']

In [6]:
# (10)clear
fruits = ["apple", "banana", "cherry"]
fruits.clear()
print(fruits)

[]

In [7]:
# (5)to add two list [adding elements of list]
list1 = [6,8,43,9]
list2 = ["apple","banana","cherry","melon"]
zipped = zip(list1, list2)
print(list(zipped))

[(6, 'apple'), (8, 'banana'), (43, 'cherry'), (9, 'melon')]

In [8]:
# how to implement stack
# stack
a=[]
a.append("apple")
a.append("ball")
a.append("cat")
print(a)

a.pop()
print(a)

a.pop()
print(a)

a.pop()
print(a)

['apple', 'ball', 'cat']
['apple', 'ball']
['apple']
[]

# if else for loop and range ()task

In [1]:
# (1)
# to print odd and even number

number=int(input("enter number"))
if number%2==1:
    print("odd number")
else:
    print("even number")

enter number3
odd number

In [1]:
## (3)
# write a programm to print multiplication table of a given number

# i=1
a=int(input("enter number"))
i=1
while (i<=10):
    print(a,"x",i,"=",a*i)
    i=i+1

enter number5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [1]:
# (2)
# count the total number of digits in a number while loop 

n= int (input("enter the number"))
count=0
while n > 0:
    n=n//10
    count+=1
print("number of digits",count)

enter the number32563
number of digits 5

In [1]:
# (4)
# count the total number of digits in a number for loop

number = input("enter a number:")
def countdigits(number):
    dcount=0
    for x in number:
        if x.isdigit():
            dcount+=1
    return dcount
d=countdigits(number)
print("number of digits:",d)

enter a number:ryt678
number of digits: 3

In [8]:
# (5)find a factorial of a given number

i=int(input("enter a number:"))
fac=1
while i > 0:
    fac=fac*i
    i=i-1
print("factorial=",fac)

enter a number:5
factorial= 120

In [8]:
# display fibonacci series up to 10 terms

n=int(input("enter number"))
x=0
y=1
z=0
while (z <= n):
    print(z)
    x=y
    y=z
    z=x+y

enter number5
0
1
1
2
3
5

In [ ]:
# calculate the cube of all numbers from 1 to a given number
def cube (x):
    res = x**3
    return res
n= int (input("enter number"))
print(cube(n))

# TUPLE

In [1]:
(1)# TO CREAT A TUPLE HAVING A NUMBER FROM 1-20.PRINT THE HALF OF ITS VALUE IN 1 LINE AND OTHER HALF IN NEXT LINE 

tp=(1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20)
tp1=tp[:10]
tp2=tp[10:]
print(tp1)
print(tp2)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
(11, 12, 13, 14, 15, 16, 17, 18, 19, 20)

In [5]:
# (2). To create a tuple consisting of 20 number from a user. Create 
#  another tuple whose values are even number in the first tuple.

a=[]
for x in range(10):
    user=int(input("enter number"))
    a.append(user)
print(tuple(a))  
b=[]
for i in a:
    if i%2==0:
        b.append(i)
print(tuple(b))

enter number1
enter number2
enter number3
enter number4
enter number5
enter number6
enter number7
enter number8
enter number9
enter number10
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
(2, 4, 6, 8, 10)

In [3]:
# <!-- (3)# c. To concatenate two tuples . -->
tp1 = (1,5,7,9)
tp2 = (2,4,6,7)
tp3 = tp1+tp2
print(tp3)

(1, 5, 7, 9, 2, 4, 6, 7)

In [1]:
(4)#d. To check whether a given element is present in tuple or not .

thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
  print("Yes, 'apple' is in the fruits tuple")

Yes, 'apple' is in the fruits tuple

In [6]:
(5)# e. To use the following methods on a tuple in the program: 
cmp(t1,t2)/t1==t2 ,len(t1) , zip(t1,t2) , max(t) , min(t) , tuple()

NameError: name 'cmp' is not defined

In [5]:
list1 = [6,8,43,9]
list2 = ["apple","banana","cherry","melon"]
zipped = zip(list1, list2)
print(list(zipped))

[(6, 'apple'), (8, 'banana'), (43, 'cherry'), (9, 'melon')]

In [14]:
tp1=("e",10)
print(len(tp1))

2

In [15]:
tp=(1,5,9,4,20)
print(max(tp))

20

In [16]:
tp=(1,5,9,4,20)
print(min(tp))

1

# dictionaries

In [4]:
# f. To create a dictionary with any five key value pair . print the 
# dictionary . Add an element in a given dictionary and delete an 
# element

mydict={
    "name":"suraiya",
    "occupation":"teacher",
    "age":25,
    "address":"phonix mall"
}
print(mydict)
mydict["area"]="narayan nagar"
print(mydict)

mydict.pop("occupation")
print(mydict)

{'name': 'suraiya', 'occupation': 'teacher', 'age': 25, 'address': 'phonix mall'}
{'name': 'suraiya', 'occupation': 'teacher', 'age': 25, 'address': 'phonix mall', 'area': 'narayan nagar'}
{'name': 'suraiya', 'age': 25, 'address': 'phonix mall', 'area': 'narayan nagar'}

In [5]:
# g. To create 2 dictionaries using dictionary comprehension method.

fruits={
    "apple":"rad",
    "banana":"yellow",
    "cherry":"green"
}
# fruit1={x for x in fruits}
# print(fruit1)
print(fruits)

{k:v for k,v in fruits.items() }

{i:i**2 for i in range (5)}

{'apple': 'rad', 'banana': 'yellow', 'cherry': 'green'}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [17]:
# h. To demonstrate any five methods on dictionary (fromkeys)1
x=('nargis','suraiya','anam')
y='khan'
mydict=dict.fromkeys(x,y)
print(mydict)

{'nargis': 'khan', 'suraiya': 'khan', 'anam': 'khan'}

In [19]:
# key and value 2
name={
    "suraiya":"khan",
    "ruqaiya":"shaikh",
    "anam":"malik"
}
x=name.keys()
print(x)
x=name.values()
print(x)

dict_keys(['suraiya', 'ruqaiya', 'anam'])
dict_values(['khan', 'shaikh', 'malik'])

In [7]:
# update 3
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

car.update({"color": "White"})

print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'White'}

In [24]:
# GET 4
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x=car.get("year")

print(x)

1964

In [26]:
# 5
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x=car.items()

print(x)

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])

In [27]:
#  To demonstrate 5 methods of python data structure set .(1)

x={"apple","ball","cat"}
y={"google","cmg","apple"}
z=x.symmetric_difference(y)
print(z)

{'ball', 'cat', 'cmg', 'google'}

In [28]:
# 2
x={"apple","ball","cat"}
y={"google","cmg","apple"}
x.symmetric_difference_update(y)
print(x)

{'ball', 'cat', 'cmg', 'google'}

In [29]:
# 3
x={"apple","ball","cat"}
y={"google","cmg","apple"}
z=x.intersection(y)
print(z)

{'apple'}

In [30]:
# 4
x={"apple","ball","cat"}
y={"google","cmg","apple"}
z=x.union(y)
print(z)

{'apple', 'ball', 'cat', 'cmg', 'google'}

In [33]:
# 5
x={"apple","ball","cat"}
y={"google","cmg","apple"}
x.update(y)
print(x)

{'apple', 'ball', 'cat', 'cmg', 'google'}

In [ ]:
data=[2,3,5,6,8]
for i in list:
    if i%2==0:
        print(f')

In [3]:
a='1024'
for i in a:
    print(i)

1
0
2
4

In [4]:
a="level"
b=a[:-2]
print(b)

lev

In [7]:
data={"anam":40,"boy":30}
x=data.update({"shoib":20})
print(data)

{'anam': 40, 'boy': 30, 'shoib': 20}

In [3]:
c=add(2,4)
print(c)
def add(a,b):
    c=a+b
    return c

NameError: name 'add' is not defined

In [6]:
data={"anam":40,"boy":30}
x=data.pop("anam")
print(data)

{'boy': 30}

In [17]:
data={"anam":40,"boy":30,"asif":80}
x=data.del("anam")
print(data)

SyntaxError: invalid syntax (524700667.py, line 2)

In [2]:
value=[1,1,2,3,4,3]
a=set(value)
print(a)
b=list(a)
print(b)




# print(value[1:5])

{1, 2, 3, 4}
[1, 2, 3, 4]

# task (*)

In [57]:
# (1)
for i in range(5):
    for j in range(i+1):
        print("*",end=" ")
    print("")

*
* *
* * *
* * * *
* * * * *

In [55]:
n=int(input("Enter number of rows to be displayed:"))

for i in range(n):
    for j in range(i+1):
        print("*",end=" ")
    print("")

Enter number of rows to be displayed:7
*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *

In [5]:
# (2)reverse star pattern

for i in range(5,0,-1):
    for j in range(i,0,-1):
        print("*",end=" ")
    print("")

* * * * *
* * * *
* * *
* *
*

In [7]:
# (2)minhaj decreasing triangle patteren

n=5
for i in range(n):
    for j in range(i,n):
        print("*",end=" ")
    print()

* * * * *
* * * *
* * *
* *
*

In [5]:
# (3)square patteren
n=5
for i in range(n):
    for j in range(n):
        print("*",end=" ")
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [18]:
# (4)right sided triangle
n=5
for i in range(n):
    for j in range(i,n):
        print(' ',end=" ")
    for j in range(i+1):
        print("*",end=" ")
    print("")

          *
        * *
      * * *
    * * * *
  * * * * *

In [28]:
# (5) right sided decreasing triangle

n=5
for i in range(n):
    for j in range(i+1):
        print(" ",end=" ")
    for j in range(i,n):
        print("*",end=" ")
    print()

  * * * * *
    * * * *
      * * *
        * *
          *

In [41]:
# (8)hill patteren

n=5
for i in range(n):
    for j in range(i,n):
        print(" ",end=" ")
    for j in range(i+0):
        print("*",end=" ")
    for j in range(i+1):
        print("*",end=" ")
    print()

          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *

In [43]:
# (9)

n=5
for i in range(n):
    for j in range(i+1):
        print(" ",end=" ")
    for j in range(i,n-1):
        print("*",end=" ")
    for j in range(i,n):
        print("*",end=" ")
    print()

  * * * * * * * * *
    * * * * * * *
      * * * * *
        * * *
          *

In [46]:
n=5
for i in range(n):
    for j in range(i+1):
        print("1",end=" ")
    print()

1
1 1
1 1 1
1 1 1 1
1 1 1 1 1

In [50]:
n=5
for i in range(n):
    for j in range(n+1):
        print("1",end=" ")
    print()

1 1 1 1 1 1
1 1 1 1 1 1
1 1 1 1 1 1
1 1 1 1 1 1
1 1 1 1 1 1

# number pattern programm

In [69]:
for i in range(6):
    for j in range(i):
        print(i,end=" ")
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [67]:

for i in range(5,0,-1):
    for j in range(i):
        print(i,end=" ")
    print()

5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [20]:
for i in range(5):
    for j in range(i+1):
        print(j+1,end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [23]:
for i in range(6):
    for j in range(1,i+1):
        print(j,end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [24]:
for i in range(5,0,-1):
    for j in range(1,i+1):
        print(j,end=" ")
    print()

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [29]:
num=1
for row in range(1,5):
    for col in range(1,row+1):
        print(num,end=" ")
        num=num+1
    print()

1
2 3
4 5 6
7 8 9 10

# ALPHABET PATTERN

In [34]:
n=5
a=65
for i in range(n):
    for j in range(i+1):
        print(chr(a),end=" ")
        a+=1
    print()

A
B C
D E F
G H I J
K L M N O

In [39]:
k=ord("g")
print(k)

103

# functions task

In [ ]:
# Write a Python function to find the Max of three numbers.(1)

n1=int(input("enter number")) 
n2=int(input("enter number"))
n3=int(input("enter number"))

def max():
    
    if(n1>=n2) and (n1>=n3):

        l=n1

    elif(n2>=n1) and (n2>=n3):

         l=n2

    else:

         l=n3

    print("Largest number among  the three is",l)

max()

In [1]:
# define a function that accepts 2 values and return its sum, subtraction and multiplication..(2)

a=int(input("enter number"))
b=int(input("enter number"))

def add (a,b):
    c=a+b
    d=a-b
    e=a*b
    print("sum of given number:",c)
    print("subtraction of given number:",d)
    print("multiplicationof given number:",e)
add(a,b)

enter number7
enter number5
sum of given number: 12
subtraction of given number: 2
multiplicationof given number: 35

In [18]:
# .Write a Python function to multiply all the numbers in a list.(3)
# traversal
list=[3,2,4]
result=1
for x in list:
    result=result*x
print(result)

24

In [20]:
#.Write a Python function to calculate the factorial of a number (a non-negative integer). (4)
#The function accepts the number as an argument

i=int(input("enter a number:"))
fac=1
while i > 0:
    fac=fac*i
    i=i-1
print("factorial=",fac)

enter a number:2
factorial= 2

In [17]:
# factorial using for loop

def fact(number):
    result=1
    for i in range(1,number+1):
        result=result*i
#         result*=i   
    print(result)     
fact(5)

120

In [1]:
# Write a Python function to create and print a list where 
# the values are square
# of numbers between 1 and 30 (both included).(5)

def printValues():
    l = list()
    for i in range(0,30):
        l.append(i**2)
    print(l)
printValues()

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841]

In [12]:
# 6.Write a Python function that accepts a string and calculate the number 
# of upper case letters and lower case letter
n=str(input("enter any string:"))
def function(n):
    lowerc=0
    upperc=0
    for i in n:
        if i .islower():
            lowerc=lowerc+1
        elif i .isupper():
            upperc=upperc+1
    print("lower count:",lowerc)
    print("upper count:",upperc)
# X=str(input("enter any string:"))    
function(n)

enter any string:uygbn
lower count: 5
upper count: 0

In [13]:
# 7.Define a function that accepts roll number and 
# returns whether the student is present or absent.

a=[1,3,7,9,5,45,76,28]
n=int(input("enter the number"))
def add(n):
    if n in a:
        print("student is present:",n)
    else :
        print("student is ubsent")
add(n)

enter the number2
student is ubsent

In [20]:
# .Define a function which counts vowels and consonant in a word.

alpha=input('enter the string:')
def add (a):
    vowel1="a,e,i,o,u"
    vowel=0
    cons=0
    for i in alpha:
        if i in vowel1:
            vowel+=1
        else:
            cons+=1
    print("total vowels:",vowel)
    print("total consonant:",cons)
    
add(alpha)

enter the string:wdfrtg
total vowels: 0
total consonant: 6

In [1]:
# 9.Define a function that accepts radius and returns the area of a circle.

PI = 3.14
r = float(input("Enter the radius of a circle:"))
def area(r):
    area=PI*r*r

    print("Area of a circle =",area)
area(r)

Enter the radius of a circle:1
Area of a circle = 3.14

In [3]:
r=int(input("enter of circle"))
def circle(r):
    print("area",3.14*r**2)
circle(r)

enter of circle1
area 3.14

In [6]:
print("hello world!")

hello world!

In [19]:
n=int(input())
if n%2!=0:
    print("weird")
# elif n%2==0 and n>=2 and n<=5:
elif n%2==0 and n in range(2,5):
    print("not wierd")
elif n%2==0 and n>20:
    print("correct")

24
correct

In [21]:
k=ord("h")
print(k)

104

In [22]:
k=ord("p")
print(k)

112

enter number1
Weird

In [2]:
def firstfunc():
    
    print("first")
    secondfunc()
    
def secondfunc():   
    print("second")
    thirdfunc()
    
def thirdfunc():
    print("third")
    
firstfunc()

first
second
third

In [9]:
count=0
f = open("Biology.txt","r")
f2 = open("newfile.txt","w")

for x in f:
    a=x.replace(" ","_").strip()
    count+=1
    b=a+"="+ str(count)
    f2.write(b)
    print(b)

The_Living_World=1
Biological_Classification=2
Plant_Kingdom=3
Animal_Kingdom=4
Morphology_Of_Flowering_Plants=5
Anatomy_Of_Flowering_Plants=6
Structural_Organisation_In_Animals=7
Cell_The_Unit_Of_Life=8
Biomolecules=9
Cell_Cycle_And_Cell_Division=10
Transport_In_Plants=11
Mineral_Nutrition=12
Photosynthesis_In_Higher_Plants=13
Respiration_In_Plants=14
Plant_Growth_And_Development=15
Digestion_And_Absorption=16
Breathing_And_Exchange_Of_Gases=17
Body_Fluids_And_Circulation=18
Excretory_Products_And_Their_Elimination=19
Locomotion_And_Movement=20
Neural_Control_And_Coordination=21
Chemical_Coordination_And_Integration=22
Reproduction_In_Organisms=23
Sexual_Reproduction_In_Flowering_Plants=24
Human_Reproduction=25
Reproductive_Health=26
Principles_Of_Inheritance_And_Variation=27
Molecular_Basis_Of_Inheritance=28
Evolution=29
Human_Health_And_Disease=30
Strategies_For_Enhancement_In_Food_Production=31
Microbes_In_Human_Welfare=32
Biotechnology_Principles_And_Processes=33
Biotechnology_And_Its_Applications=34
Organisms_And_Populations=35
Ecosystem=36
Biodiversity_And_Conservation=37
Environmental_Issues=38

In [9]:
a=int(input("enter number"))
for i in a()

enter number12

AttributeError: 'int' object has no attribute 'index'

In [5]:
num=[2,7,11,15]
target=13
for i in range(len(num)):
    for j in range(len(num)):
        if num[j]+ num[i]==target:
            a=[j,i]
            print(list(a))

[2, 0]
[0, 2]

In [ ]:
number=int(input("enter number"))
if number%2==1:
    print("odd number")
else:
    print("even number")

In [14]:
n=int(input("enter number"))
if n ** 2:
    print

SyntaxError: invalid syntax (3787559877.py, line 2)

In [ ]:
# a=[1,2,3,4,5]
n=int(input("enter number"))
b=list(map(lambda x:x*x*2,a))


print(b)

In [7]:
n=int(input(""))
b=list(map(lambda x:x*x,n))
print(b)

5

TypeError: 'int' object is not iterable

In [2]:
a=int(input("enter number"))
for i in a*a*2:
    print(i)

enter number2

TypeError: 'int' object is not iterable

In [6]:
number=int(input("enter number"))
def number(x):
    return number*number*2
print(number(3))

enter number3

TypeError: unsupported operand type(s) for *: 'function' and 'function'

In [ ]:
a={'a':45,'b':65,'A':5}