In [14]:
class abc:
    def add (self,a,b,c):
        return a+b
    def add (self,a,b,c=0):
        return a+b+c
c=abc()
print(c.add(2,3))
c.add(2,5,8)

5

15

In [10]:
str="python"
lst=["hii","276","python"]
len(str)
# len(lst)

6

In [12]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
for i,j in thisdict.items():
    print(i,j)

# for i in thisdict.items():
#     print(i)

brand Ford
model Mustang
year 1964

In [6]:
def add(a,b):
    c=a+b
    return c
a=add(2,3)
.
print(a)

5

In [2]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
c=thisdict.get("price")
print(c)

None

In [27]:
class add:
    def __init__(self,name,age):
        self.name = name 
        self.age = age 
    def show(self):
        print(age,name)
d=add("khan",20)
d.show()

NameError: name 'age' is not defined

In [1]:
# key should or must be unique/value can be duplicate
a={1:2,3:4,2:9}
a[5]=a.pop(1)
print(a)
# print(a)
a.get(1)

{3: 4, 2: 9, 5: 2}

In [5]:
thisdict = {
  "brand": "Ford",
  "gam": "1964",
  "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'gam': '1964', 'year': 1964}

In [39]:
a=[2,3,4]
# b=[2,3,4]
a=b
print(id(a))
print(id(b))

2032606999840
2032606999840

In [8]:
x=5
print(x>3 and x>10)

False

In [10]:
a=2
b=2
print(id(a))
print(id(b))

1943873388816
1943873388816

In [21]:
a="iram ia mood girl"
print(a.strip("  iram"))

ood girl

In [1]:
# tuple packing and unpacking

In [3]:
# a=2
# b="suraiya"
# c=33
# tp=a,b,c
# print(tp)
# print(type(tp))

a = 10
b = 20
c = 20
d = 40
tuple1 = a, b, c, d # Packing tuple
print(tuple1) # (10, 20, 20, 40)

tuple1 = (10, 20, 30, 40)
a, b, c, d = tuple1
print(a, b, c, d)  # 10 20 30 40

(10, 20, 20, 40)
10 20 30 40

In [10]:
tp=(2,"suraiya",33,"bhai")
x,y,z,w=tp
print(w)
print(tp)

bhai
(2, 'suraiya', 33, 'bhai')

In [11]:
tp={2,"suraiya",33,"bhai"}
x,y,z,w=tp
print(type(tp))
print(tp)

<class 'set'>
{33, 2, 'suraiya', 'bhai'}

In [38]:
class A:
    def __init__(self,name,age):
        self.name = name
        self.age = age
    def show(self):
        print("")

In [6]:
lst= list((2,5,78))
print(lst)

[2, 5, 78]

In [11]:
class A:
    print()
s=A()

In [16]:
class A:
    def __init__(self):
        print(123)
    def __new__(self):
        print(456)
s=A()

456

In [6]:
def add(a,b):
    c=a+b
    return c
a=add(2,3)
print(a)

5

In [5]:
def add(a,b):
    c= a+b
a=add(5,2)
print(a)

None

In [12]:
def add(a,b):
    print(a+b)
    
add(2,7)

9

# @3topic of board list comprehension

In [4]:
lst=[]
for i in range(100):
    if i%3 ==0:
        lst.append(i)
print(lst)

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99]

In [5]:
a=[]
for i in range(100):
    if i % 3==0:
        a.append(i)
print(a)

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99]

In [6]:
# list comprehension

In [10]:
a=[i for i in range(100) if i%3==0]
print(a)

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99]

In [11]:
# dict comprehension

In [13]:
me='suraiya'
m='khan'
a=f"this is {me}{m}"
print(a)

this is suraiyakhan

In [14]:
dict1={0:'item0',1:'item1',2:'item2'}
print(dict1)

{0: 'item0', 1: 'item1', 2: 'item2'}

In [15]:
# dict comprehension

In [1]:
dict1={i:"item"  for i in range(1,101)}
print(dict1)

{1: 'item', 2: 'item', 3: 'item', 4: 'item', 5: 'item', 6: 'item', 7: 'item', 8: 'item', 9: 'item', 10: 'item', 11: 'item', 12: 'item', 13: 'item', 14: 'item', 15: 'item', 16: 'item', 17: 'item', 18: 'item', 19: 'item', 20: 'item', 21: 'item', 22: 'item', 23: 'item', 24: 'item', 25: 'item', 26: 'item', 27: 'item', 28: 'item', 29: 'item', 30: 'item', 31: 'item', 32: 'item', 33: 'item', 34: 'item', 35: 'item', 36: 'item', 37: 'item', 38: 'item', 39: 'item', 40: 'item', 41: 'item', 42: 'item', 43: 'item', 44: 'item', 45: 'item', 46: 'item', 47: 'item', 48: 'item', 49: 'item', 50: 'item', 51: 'item', 52: 'item', 53: 'item', 54: 'item', 55: 'item', 56: 'item', 57: 'item', 58: 'item', 59: 'item', 60: 'item', 61: 'item', 62: 'item', 63: 'item', 64: 'item', 65: 'item', 66: 'item', 67: 'item', 68: 'item', 69: 'item', 70: 'item', 71: 'item', 72: 'item', 73: 'item', 74: 'item', 75: 'item', 76: 'item', 77: 'item', 78: 'item', 79: 'item', 80: 'item', 81: 'item', 82: 'item', 83: 'item', 84: 'item', 85: 'item', 86: 'item', 87: 'item', 88: 'item', 89: 'item', 90: 'item', 91: 'item', 92: 'item', 93: 'item', 94: 'item', 95: 'item', 96: 'item', 97: 'item', 98: 'item', 99: 'item', 100: 'item'}

In [41]:
# set comprehension

In [39]:
# s={i for i in range(100) if i%3==0}
s={i**2 for i in range(30)}
print(s)

{0, 1, 256, 4, 9, 16, 144, 400, 529, 784, 25, 289, 36, 676, 169, 49, 441, 64, 576, 196, 324, 841, 81, 729, 225, 100, 484, 361, 625, 121}

In [27]:
s={1,2,5,4,7,8,9,6,3,1,2}
print(s)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [28]:
s={i for i in range(100)}
print(s)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}

# lambda

In [30]:
minus = lambda x,y:x-y
print(minus(15,6))

9

In [2]:
def minus(x,y):
    return x-y
    
print(minus(5,2))

3

In [3]:
# map function for loop se

In [6]:
name=["41","25",'56']
for i in range(len(name)):
    name[i] = int (name[i])
print(name)

[41, 25, 56]

In [7]:
def printValues():
    l = list()
    for i in range(0,30):
        l.append(i**2)
    print(l)
printValues()

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841]

In [38]:
a=[i for i in range(30) i**2]
print(a)

SyntaxError: invalid syntax (3194872551.py, line 1)

In [4]:
a=[i**2 for i in range(0,30)]
print(a)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841]

In [5]:
name = ["20","45","51"]
name = list(map(int,name))
name = list(map(lambda x:x+x,name))
print(name)

[40, 90, 102]

In [12]:
# reduce

In [18]:
from functools import reduce
n=[12,5,2,8,9,6,3]
n=reduce(lambda x,y:x+y ,n)
print(n)

45

In [22]:
# .To add two list [ adding elements of list ]
list1=["apple","ball","cat"]
list2=["rose","lilly","tulip"]
zipped=zip(list1,list2)

print(list(zipped))

[('apple', 'rose'), ('ball', 'lilly'), ('cat', 'tulip')]

In [25]:
l1=["apple","banana","orange"]
l2=["red","yellow","green"]
a=zip(l1,l2)
print(list(a))

[('apple', 'red'), ('banana', 'yellow'), ('orange', 'green')]

In [26]:
# Python program to demonstrate the
# use of join function to join list
# elements without any separator.

# Joining with empty separator
list1 = ['g','e','e','k', 's']
print("".join(list1))

geeks

In [32]:
l= ['k','h','a','n']
print("".join(l))

khan

# map

In [34]:
# Write a Python program to triple all numbers of a given list of integers. Use Python map.

In [36]:
l=[1,2,5,4,8,7]
l=list(map(lambda x:x+x+x,l))
print(l)

[3, 6, 15, 12, 24, 21]

In [39]:
# Write a Python program to add three given lists using Python map and lambda.

l1 = [1,2,3]
l2 = [4,5,6]
l3 = [7,8,9]
l = list(map(lambda x,y,z:x+y+z,l1,l2,l3))
print(l)

[12, 15, 18]

# enumerate

In [40]:
x = ('apple', 'banana', 'cherry')
y = enumerate(x)

print(list(y))

[(0, 'apple'), (1, 'banana'), (2, 'cherry')]

In [11]:
l1 = ["bhindi","alooo","gobhi","kanda"]
# i=1
# for item in l1:
#     if i%2!=0:
#         print(item)
#     i += 1

for index,item in enumerate(l1):
    if index%2==0:
        print(item)

bhindi
gobhi

In [35]:
import bisect
number = 9
a = [1,2,3,4,6,7,8]
print(bisect.bisect(a,number))
bisect.insort(a,number)
print(a)

NameError: name 'num' is not defined

In [6]:
# magic or dunder method

In [35]:
class Employee:
    def __init__(self,name,salary):
        self.name = name
        self.salary = salary
        
    def __add__(self,other):
        return self.salary + other.salary
    
        
a = Employee("khan",5000)
b = Employee("minhaj",2000)
c = Employee("inam",1000) 
print(a+b)

7000

In [40]:
# tuple packing

In [41]:
a=10
b="khan"
c=50
a=a,b,c
print(a)

(10, 'khan', 50)

In [43]:
# tuple unpacking

a=(10,"khan",50)
a,b,c=a
print(a,b,c)

10 khan 50

In [52]:
class Student:
    # one argument constructor
    def __init__(self, name):
        print("One arguments constructor")
        self.name = name

    # two argument constructor
    def __init__(self, name, age=20):
#         print("Two arguments constructor")
        self.name = name
        self.age = age
        print(self.name,self.age)
# creating first object
emma = Student('Emma')

# creating Second object
kelly = Student('Kelly')

Emma 20
Kelly 20

In [54]:
def student(a,b):
    print("my name is",a,"roll_no is",b)
    
student("surya",20)

my name is surya roll_no is 20

In [7]:
def my_func(func):
    def inner_func(*args):
        print("first line")
        func()
        print("second line")
    return inner_func
    
@my_func
def new_func():
    print("the new line")
new_func()

first line
the new line
second line

In [4]:
a = {"surya":"khan","l":"45"}
for i,j in a.items():
    print(i,j)
#     print(a)
# print(type(a))

surya khan
l 45

In [5]:
# Generator yield

def square():
    i = 1
    while True:
        yield i*i
        i+=1
        
#print(type(var))
for j in square():
    if j>100:
        break
    print(j)

1
4
9
16
25
36
49
64
81
100

In [7]:
def name(func):
    def inner(name,roll,age):
        print("age is",age)
        func(name,roll)
    return inner    
@name
def student(name,roll):
    print("my name is ",name,roll)
student("khan","20",25)

my name is  khan 20

In [1]:
a=("khan","my","name")
a,b,c=a
print(a,b,c)

khan my name

In [4]:
def name(func):
    def inner(name,age,std):
        func(name,age)
        print("in std",std)
#         func(name,age)
    return inner

@name
def Student(name,age):
    print("my name is",name,"and age is",age)
Student("khan",10,"fifth")

my name is khan and age is 10
in std fifth

In [14]:
def add(a,b):
    print(a+b)
add(2,3)  
add(4,5)

# a=lambda x,y:x+y
# print(a(5,2))

5
9

In [2]:


def add(func):
    def inner(name,age,std):
        func(name,age)
        print("in std",std)
        return inner
@add
def Student(name,age):
    print("my name is",name,"and age is",age)
Student("khan",15,"tenth")

TypeError: 'NoneType' object is not callable

In [8]:
a = ["apple", "banana", "cherry"]
for x in a:
  print(x)

apple
banana
cherry

In [1]:
fruits = ["apple", "banana", "cherry"]
fruits = filter(list,fruits)
print(fruits)

<filter object at 0x00000250C897A4D0>

In [30]:
a=[1,2,3,4,5]
b=list(map(lambda x:x*x,a))
print(b)

[1, 4, 9, 16, 25]

In [3]:
def name(func):
    def inner(name,age,std):
        func(name,age)
        print("in std",std)
#         func(name,age)
    return inner

@name
def Student(name,age):
    print("my name is",name,"and age is",age)
Student("khan",10,"fifth")

my name is khan and age is 10
in std fifth

In [5]:
def add(func):
    def inner(name,age,std):
        func(name,age)
        print("in std",std)
    return inner
@add
def Student(name,age):
    print("my name is",name,"and age is",age)

    Student("khan",15,"tenth")

my name is khan and age is 15
in std tenth

In [8]:
def add(a):
    def inner(name,age,roll):
        a(name,age)
        print("and my roll no is",roll)
    return inner    

@add
def Student(name,age):
    print("my name is",name,"and age is",age)
Student("khan",15,28)

my name is khan and age is 15
and my roll no is 28

In [20]:
from functools import reduce
n=[1,2,4,5]
n=reduce(lambda x,y:x+y,n)
print(n)

12

In [23]:
from functools import reduce
n=[12,5,2,8,9,6,3]
n=reduce(lambda x,y:x+y ,n)
print(n)

45

In [25]:
for i in  range():
    print(i)

TypeError: range expected at least 1 argument, got 0

In [27]:
x=["apple","ball"]
y=enumerate(x)
print(list(y))

[(0, 'apple'), (1, 'ball')]

In [33]:
import bisect
num=3
a=[1,2,4,5,6]
print(bisect.bisect(a,num))
bisect.insort(a,num)
print(a)

2
[1, 2, 3, 4, 5, 6]

In [3]:
def gen(n):
    for i in range(n):
        yield i
# print(gen(10000))
# for i in gen(10):
#     print(i)
b=gen(1000)
print(next(b))
print(next(b))
print(next(b))

0
1
2

In [3]:
# generator
def square():
    i=1
    while True:
        yield i*i
        i+=1
for j in square():
    if j>100:
        break
    print(j)

1
4
9
16
25
36
49
64
81
100

In [6]:
a=iter("khan")
print(next(a))
print(a.__next__())
print(next(a))
print(next(a))
print(next(a))

k
h
a
n

StopIteration:

# random

In [18]:
import random
a= random.randint(1,2)
b= random.random()+100
print(b)

100.62166765388318

In [19]:
# random choice

In [24]:
a=["codewithharry","DD","humtv"]
b=random.choice(a)
print(b)

codewithharry

In [1]:
a=["a","b","b"]
b=["1","2","3"]
c=zip(a,b)
print(c)

<zip object at 0x0000025A62A94740>

# generator

In [2]:
def square(x):
    for i in range(5):
        yield i*i
def test(x):
    for i in square(5):
        print(i+x)
test(10)

10
11
14
19
26

In [1]:
# task 2/08/2022

In [14]:
dict1=[{"Question":"Correct extention of python file?"
       "Answer:":".Py"}]

SyntaxError: invalid syntax (2720469249.py, line 2)

In [7]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [8]:
Dictionary

In [1]:
i=7
if i:
    print("True")
else:
    print("False")

True

In [42]:
i=7
print(bool(i))

True

# how to using loop using dictionary inside list Task

In [31]:
Q=[{"question":"python?", "answer":".py","explanation":""},
           {"question":"django?", "answer":"framework", "explanation":"building projects"},
           {"question":"second lang?", "answer":"java", "explanation":""},
           {"question":"Favourate color?", "answer":"White", "explanation":"color"},
           {"question":"hobby?", "answer":"Nothing", "explanation":"no phone"}]
count=1
for i in Q:
    print(count,i["question"])
    count+=1
    print("Ans-",i["answer"])
#     print("Explanation:",i["explanation"])
c=1
for i in Q:
    if i["explanation"]=="":
        pass
    else:
        print(c,i["explanation"])
        c+=1

1 python?
Ans- .py
2 django?
Ans- framework
3 second lang?
Ans- java
4 Favourate color?
Ans- White
5 hobby?
Ans- Nothing
1 building projects
2 color
3 no phone

In [6]:
a=[5,8,15,19]
b=[5,3,7,4]
sub=[element1-element2 for (element1,element2) in zip (a,b)]
print(sub)

[0, 5, 8, 15]

In [ ]:

number=int(input("enter number"))

In [1]:
from functools import reduce
a = [5,8,15,19]
b =reduce(lambda x,y:x-y,a)
print(b)

-37

In [5]:
a=[5,8,15,19]
b=[i for i in a element1-element1]
pr

SyntaxError: invalid syntax (4000375376.py, line 2)

In [20]:
array =list(map(int,input().split(" ")))

def sqaure():
    return lambda x:x*x

def Add():
    return lambda x:x+x
func=[sqaure(),Add()]

def cmap(func,array):
    result=list(map(func[0],array))
    result1=list(map(func[1],result))
    return result1
a=cmap(func,array)
print(a)

1 2 3
[2, 8, 18]

In [14]:
array =list(map(int,input().split(" ")))
a=list(map(lambda x:x**2+x**2,array))
print(a)

1 2 3
[2, 8, 18]

In [15]:
array =list(map(int,input().split(" ")))
a=map(lambda x:x*x*2,array)
print(list(a))

2 3 4
[8, 18, 32]

In [19]:
z=[5,8,15,19]
diffs = [z[0]]+[x-y for x, y in zip(z[1:], z[:-1])]
print(z[1:],z[-1])
print(diffs)

[8, 15, 19] [5, 8, 15]

In [1]:
c={'a':45,'b':65,'A':5}
if 'a'=='A':
    print(50)

In [3]:
lst=[1,13,14,17,51,80,19]
a[0]
for i in a:
    if i > b:
        b = i
print(b)

NameError: name 'a' is not defined

In [2]:
a=[1,13,14,17,51,80,19]
b=0
for i in a:
    if i > b:
        b = i
print(b)

80

In [3]:
l = [64, 25, 12, 22, 11, 1,2,44,3,122, 23, 34]

for i in range(len(l)):
    for j in range(i + 1, len(l)):

        if l[i] > l[j]:
           l[i], l[j] = l[j], l[i]

In [7]:
l = [1,13,14,17,51,80,90]

for i in range(len(l)):
    for j in range(i + 1, len(l)):

        if l[i] > l[j]:
            l[i], l[j] = l[j], l[i]

print (l)

[1, 13, 14, 17, 51, 80, 90]

In [5]:
a=[1,8,2,3]
b=0
for i in a:
    if i>b:
        b=i
        print(b)

1
8

In [10]:
a=[1,5,8,1,2,7,2]
a.sort()
for i in a:
    pass
print(a)

[1, 1, 2, 2, 5, 7, 8]

In [2]:
# search value by in operator

a="hello world"
if "e" in a:
    print(a)

hello world

In [13]:
a={"abc":455,"kbc":105}
# p=(105 in a.keys())
for i in a.values():
    if "105"in str (i):
        print("present")
    else:
        ("not")
    


# print(p)

present

In [26]:
student={"Ali":{"score":91}"Akbar":{"score":70}""}
result = max(data.keys()

print(result)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (647869879.py, line 1)

In [6]:
# sort method

In [25]:
a=["view","Bmw","Skoda","unicon"]
# for i in sorted(a,key=len):
#     print(i)
a.sort(key=len)
print(a)

['Bmw', 'view', 'Skoda', 'unicon']

In [2]:
x= "hello why ball"
y=x.split()
y.sort()
for i in y:
    print(i)

ball
hello
why

In [1]:
# NESTED DICTIONARY

In [ ]:
student={"Ali":{"score":91},"Akbar":{"score":70},"Bilal":{}}