In [1]:
print("suraiya")

suraiya

In [3]:
a=3
b=3
print(a+b)

6

In [4]:
print(3+4)

7

In [1]:
print("3+4")

3+4

In [8]:
my_name="jhon"
print(my_name)

jhon

In [9]:
#multiple variables
x="orange"
y="banana"
z="apple"
print(x,y,z)

orange banana apple

In [1]:
#mathematical variable
x=17
y=19
print(x+y)

36

In [7]:
#convert from one type to another type
x=1
y=2.0
z=1
a=complex(x)
b=int(y)
c=float(z)
print(a)
print(b)
print(c)

(1+0j)
2
1.0

In [19]:
#string sclicing
mystr="su rai ya"
print(len (mystr))
print(str[::-2])
print(str.count("a"))

9
airs
2

In [30]:
#string format
age=22
name="she is minhaj her age is {}"

print(name.format(age))

she is minhaj her age is 22

In [7]:
#how to check memory location using(id)
a=4
b=4
print(a+b)
print(id(a))
print(id(b))
a="hello"
b="hello"
print(id(a))
print(id(b))

8
1220096295248
1220096295248
1220170066352
1220170066352

In [5]:
#TYPE CONVERSION 
x=1
y=1.0


a=float(x)
b=complex(y)

print(type(a))
print(type(b))

<class 'float'>
<class 'complex'>

In [3]:
#not in
txt="minhaj is good girl."
print("good"in txt)

True

In [12]:
#slicing
mystr="minhaj is a good girl."
print(len(mystr))
print(mystr[::-1])

22
.lrig doog a si jahnim

In [15]:
x="pink"
y=67
print(x+y)

TypeError: can only concatenate str (not "int") to str

# OPERATORS

In [14]:
#ARITHMETIC{1}

#ADDITION(+)

x=5
y=3
print(x+y)

#subtraction(-)

x=5
y=3
print(x-y)

#multiplication(*)

x=5
y=3
print(x*y)

#division(/)

x=5
y=3
print(x/y)

#modulus(%)

x=3
y=5
print(x%y)

#exponentiation

x=5
y=3
print(x**y)

#floor division

x=5
y=3
print(x//Y)

8
2
15
1.6666666666666667
3
125
1

In [31]:
#ASSIGNMENT

x=5
x+=3
print(x)

x=5
x-=2
print(x)

x=5
x*=3
print(x)

x=5
x/=3
print(x)

x=5
x%=3
print(x)

x=5
x//=3
print(x)

x=5
x**=3
print(x)

x=5
x&=3
print(x)

x=5
x|=3
print(x)

x=5
x^=3
print(x)

8
3
15
1.6666666666666667
2
1
125
1
7
6

In [38]:
#comparision operators
#x==y(equal)
x=5
y=3
print(x==y)

#x!=y (not eequal)
x=5
y=3
print(x!=y)

#>greater than

x=5
y=3
print(x>y)

#<less than 

x=5
y=3
print(x<y)

#>=greater than or equal to

x=5
y=3
print(x>=y)

#<=less than orequalto
x=5
y=3
print(x<=y)

False
True
True
False
True
False

In [49]:
#logical operators

#AND

x=5
print(x>3 and x<10)

x=7
print(x>4 and x<11)

x=9
print(x>2 and x<10)

#OR

x=5
print(x>3 or x>9)

x=6
print(x>4 or x>5)

#NOT

x=5
print(not(x>4 and x<6))

True
True
True
True
True
False

In [58]:
# identity operators
# (IS)
x=["apple","banana","cherry"]
y=["apple","banana","cherry"]
z=x
print(x is y)
print(z is x)
print(x==y)
print(id(x))

# IS NOT
a=["apple","banana","cherry"]
b=["apple","banana","cherry"]
z=a
print(a is b)
print(z is not a)
print(a==b)

False
True
True
2262897025408
False
False
True

In [60]:
#MEMBERSHIP OPERATORS
# IN
x=["apple","ball","cat"]
print("cat" in x)

# IN NOT

y=["dog","cat","ball"]
print("dog" not in y)

True
False

In [3]:
# BITWISE OPERATORS
a=20
a<<=2
print(a)

80

# LIST

In [1]:

thislist=["apple","banana","orange"]
print(thislist)

#len function

thislist=["apple","banana","cherry"]
print(len(thislist))

#LIST DATA TYPES
list1=["all","ball","call"]
list2=["1","2","3"]
list3=["t","f","t"]
print(list1, list2, list3)

# DIFFERENT DATA TYPES
list1=["black",40,True]
print(list1)

#negative indexing

#start from the end

thislist=["apple","banana","cherry"]
print(thislist[-1])

['apple', 'banana', 'orange']
3
['all', 'ball', 'call'] ['1', '2', '3'] ['t', 'f', 't']
['black', 40, True]
cherry

In [8]:
#ACCESS LIST ITEMS

thislist=["apple","banana","cherry","mango","kiwi","orange","melon"]
print(thislist[1])

print(thislist[-1])

print(thislist[2:5])

print(thislist[:4])

print(thislist[2:])

print(thislist[-4:-1])

banana
melon
['cherry', 'mango', 'kiwi']
['apple', 'banana', 'cherry', 'mango']
['cherry', 'mango', 'kiwi', 'orange', 'melon']
['mango', 'kiwi', 'orange']

In [9]:
#CHECK IF ITEM EXIST

thislist=["apple","banana","cherry","mango","kiwi","orange","melon"]
if "apple" in thislist:
        print("yes,'apple' is in the fruit list")

yes,'apple' is in the fruit list

In [10]:
#CHANGE LIST ITEMS
thislist=["apple","banana","cherry","mango","kiwi","orange","melon"]
thislist[5]="minhaj"
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'kiwi', 'minhaj', 'melon']

In [13]:
#change arange of item value

thislist=["apple","banana","cherry","mango","kiwi","orange","melon"]
thislist[2:5]=["minhaj","suraiya","ndhf"]
print(thislist)

['apple', 'banana', 'minhaj', 'suraiya', 'ndhf', 'orange', 'melon']

In [17]:
#insert method

list=["apple","banana","cherry","mango","kiwi","orange","melon"]
list.insert(3,"minhaj")
print(list)

#APPEND

list.append("suraiya")
print(list)

# EXTEND

list=['apple', 'banana', 'cherry', 'minhaj', 'mango', 'kiwi', 'orange', 'melon']
list1=['apple', 'banana', 'cherry','suraiya']
list.extend(list1)
print(list)

list=['apple', 'banana', 'cherry', 'minhaj', 'mango', 'kiwi', 'orange', 'melon']
list1=['apple', 'banana', 'cherry', 'minhaj', 'mango', 'kiwi', 'orange', 'melon', 'suraiya']
list.extend(list1)
print(list)

#ADD ANY ITERABLE

list=["apple","banana","cherry"]
tuple=("pink","yellow","gray")
list.extend(tuple)
print(list)

# remove method

list=['apple', 'banana', 'cherry', 'minhaj', 'mango', 'kiwi', 'orange', 'melon']

list.remove('minhaj')
list.remove('mango')
print(list)

# POP METHOD

list=['apple', 'banana', 'cherry', 'minhaj', 'mango', 'kiwi', 'orange', 'melon']
list.pop(4)
print(list)

# DEL KEYWORD
list=['apple', 'banana', 'cherry', 'minhaj', 'mango', 'kiwi', 'orange', 'melon']
del list[5]
print(list)

# CLEAR METHOD

list=['apple', 'banana', 'cherry', 'minhaj', 'mango', 'kiwi', 'orange', 'melon']
list.clear()
print(list)

# SORT LIST ALPHA NUMERICALLY

list=['apple', 'banana', 'cherry', 'minhaj', 'mango', 'kiwi', 'orange', 'melon']
list.sort()
print(list)

# SORT LIST NUMERICALLY

list=[1000,477,200,700]
list.sort()
print(list)

# SORT DECENDING
# REVERSE=TRUE
list=['apple', 'banana', 'cherry', 'minhaj', 'mango', 'kiwi', 'orange', 'melon']
list.sort(reverse=True)
print(list)

list=[1000,477,200,700]
list.sort(reverse=True)
print(list)

# CASE INSENSITIVE SORT
# BY DEFAULT THE SORT() METHOD IS CASE SENSITIVE


list=['apple', 'banana', 'cherry', 'Minhaj', 'mango', 'Kiwi', 'Orange', 'melon']
list.sort()
print(list)

#lower case

thislist = ['2','5','3','9']
thislist.sort(key = str.lower)
print(thislist)

['apple', 'banana', 'cherry', 'minhaj', 'mango', 'kiwi', 'orange', 'melon']
['apple', 'banana', 'cherry', 'minhaj', 'mango', 'kiwi', 'orange', 'melon', 'suraiya']
['apple', 'banana', 'cherry', 'minhaj', 'mango', 'kiwi', 'orange', 'melon', 'apple', 'banana', 'cherry', 'suraiya']
['apple', 'banana', 'cherry', 'minhaj', 'mango', 'kiwi', 'orange', 'melon', 'apple', 'banana', 'cherry', 'minhaj', 'mango', 'kiwi', 'orange', 'melon', 'suraiya']
['apple', 'banana', 'cherry', 'pink', 'yellow', 'gray']
['apple', 'banana', 'cherry', 'kiwi', 'orange', 'melon']
['apple', 'banana', 'cherry', 'minhaj', 'kiwi', 'orange', 'melon']
['apple', 'banana', 'cherry', 'minhaj', 'mango', 'orange', 'melon']
[]
['apple', 'banana', 'cherry', 'kiwi', 'mango', 'melon', 'minhaj', 'orange']
[200, 477, 700, 1000]
['orange', 'minhaj', 'melon', 'mango', 'kiwi', 'cherry', 'banana', 'apple']
[1000, 700, 477, 200]
['Kiwi', 'Minhaj', 'Orange', 'apple', 'banana', 'cherry', 'mango', 'melon']
['2', '3', '5', '9']

In [13]:
# sort the list decending
list=['apple', 'banana', 'cherry', 'Minhaj', 'mango', 'Kiwi', 'Orange', 'melon']
list.sort()
print(list)

['Kiwi', 'Minhaj', 'Orange', 'apple', 'banana', 'cherry', 'mango', 'melon']

In [12]:
list=['apple', 'banana', 'cherry', 'Minhaj', 'mango', 'Kiwi', 'Orange', 'melon']
list.sort(reverse=True)
print(list)

['melon', 'mango', 'cherry', 'banana', 'apple', 'Orange', 'Minhaj', 'Kiwi']

In [15]:
a=[3,2,4,1,5]
a.sort()
print(a)

[1, 2, 3, 4, 5]

In [16]:
a=[3,2,4,1,5]
a.sort(reverse=True)
print(a)

[5, 4, 3, 2, 1]

In [18]:
# COPY
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']

In [19]:
# COPY()METHOD
list=["apple","banana","cherry"]
mylist=list.copy()
print(mylist)

['apple', 'banana', 'cherry']

In [2]:
# list() method
thislist = ["apple", "banana", "cherry"]
mylist = list(thislist)
print(mylist)

['apple', 'banana', 'cherry']

In [5]:
# join two list + operators
list1=[12,52,58]
list2=[98,54,32]
list3=list1+list2
print(list3)

[12, 52, 58, 98, 54, 32]

In [6]:
# extend list
list1=[12,52,58]
list2=[98,54,32]
list1.extend(list2)
print(list1)

[12, 52, 58, 98, 54, 32]

In [1]:
# list loop

In [2]:
list=[1,2,3,4]
for x in list:
    print(x)

1
2
3
4

In [10]:
# break
list=['1','2','3','4','5']
for x in list:
    print(x)
    if x=='4':
        break

1
2
3
4

In [9]:
list=['a','b','c']
for x in list:
    print(x)
    if x=='b':
        break

a
b

In [11]:
list=['a','b','c']
for x in list:
    if x=='b':
        break
    print(x)

a

# TUPLES

<!-- TUPLE IS ODERED AND ALLOW DUPLICATES  -->
<!-- TUPLE IS UNCHANGEABLE -->
<!-- TUPLE ARE USED TO STORE MULTIPLE ITEMS -->

In [3]:
#len functions
tuple=("apple","banana","cherry")
print(len(tuple))

3

In [5]:
#to creat a tuple with only one item you have to add a (,)
tuple=("apple",)
print(type(tuple))

<class 'tuple'>

# TUPLE


# convert a tuple into a list 

x=("apple","banan","cherry")
y=list(x)
y[2]="orange"
x=tuple(y)
print(x)

In [2]:
x# EXTEND
a=(1,2,3,4)
b=list(a)
b[1]="5"
a=tuple(b)
print(a)

(1, '5', 3, 4)

In [5]:
x=("minhaj","suraiya","sumaiya")
b=list(x)
b[2]="ruqaiya"
x=tuple(b)
print(x)

('minhaj', 'suraiya', 'ruqaiya')

In [4]:
# append
tuple1=(1,2,3,)
x=list(tuple1)
x.append('6')
tuple1=tuple(x)
print(tuple1)


tuple2=(1,2,3,4,)
x=list(tuple2)
x.append("15")
tuple2=tuple(x)
print(tuple2)


minhaj=('m','r','e')
x=list(minhaj)
x.append('u')
minhaj=tuple(x)
print(minhaj)

(1, 2, 3, '6')
(1, 2, 3, 4, '15')
('m', 'r', 'e', 'u')

In [12]:
# ADD WITH + OPERATORS
tuple=('apple','ball','cat')
y=("dog",)
tuple+=y
print(tuple)

tuple=('bat','cat','rat','mat')
y=('hat',)
tuple+=y
print(tuple)

('apple', 'ball', 'cat', 'dog')
('bat', 'cat', 'rat', 'mat', 'hat')

In [1]:
# .remove method

tuple1=('apple','banana','cherry')
x=list(tuple1)
x.remove('apple')
tuple1=tuple(x)
print(tuple1)

('banana', 'cherry')

In [2]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)

In [5]:
# del keyword
tuple1=("apple","ball","cat")
del tuple1
print(tuple1)

NameError: name 'tuple1' is not defined

In [11]:
# unpack tuple

name=('rehman','arman','mnbg')
(m,n,c)=name
print(m) 
print(n) 
print(c)

rehman
arman
mnbg

In [16]:
# using asterisk*
name=("apple","banana","melon","cherry")
(an,*man)=name
print(an)
print(man)


man=('apple','seb','lalseb','kalaseb','pagalapple')
(a,*b,c)=man
print(a)
print(b)
print(c)

apple
['banana', 'melon', 'cherry']
apple
['seb', 'lalseb', 'kalaseb']
pagalapple

In [17]:
# join 2 tuples
tuple1=('1','2','3','4')
tuple2=('3','5','7')
tuple3=tuple1+tuple2
print(tuple1)

('1', '2', '3', '4')

In [18]:
# mutiply tuple by 3
fruits=('a','b','c','d')
name=fruits *3
print(name)

('a', 'b', 'c', 'd', 'a', 'b', 'c', 'd', 'a', 'b', 'c', 'd')

In [19]:
# count method
thistuple = (1, 3, 7, 8,8, 7, 5, 4, 6, 8, 5)

x = thistuple.count(8)

print(x)

3

In [20]:
name=('1','2','3','4')
tuple.index(3)
print(tuple)

TypeError: descriptor 'index' for 'tuple' objects doesn't apply to a 'int' object

# SETS

In [9]:
#(in)keyword

myset={"apple","banana","cherry"}
for x in myset:
    print(x)

thisset={'a','b','c'}
print('banana'in thisset)

banana
apple
cherry
False

In [10]:
#ADD METHOD

myset={'a','b','c',}
myset.add('d')
print(myset)

{'d', 'c', 'a', 'b'}

In [11]:
# update method
thisset={'a','b','c'}
myset={'d','e','f'}
thisset.update(myset)
print(thisset)

{'b', 'e', 'a', 'f', 'c', 'd'}

In [3]:
# it can be any iterable objet

myset={"apple","banana","cat"}
mylist=["seb","kela"]
mytuple=("minhaj","shaikh")
myset.update(mylist,mytuple)
print(myset)

{'shaikh', 'kela', 'minhaj', 'seb', 'banana', 'cat', 'apple'}

In [9]:
myset={'shaikh','kela','cat'}
myset.remove('kela')
print(myset)

myset={'s','g','h'}
myset.discard('g')
print(myset)

{'shaikh', 'cat'}
{'s', 'h'}

In [17]:
# pop(method)
thisset={'apple','ball','cat','dog'}
thisset.pop()
print(x)
print(thisset)

set1={'bat','ball','box','baby'}
set1.pop()
print(x)
print(set1)

set2={'all','ball','call','doll'}
x=set2.pop()
print(x)
print(set2)

bat
{'apple', 'dog', 'ball'}
bat
{'baby', 'box', 'ball'}
all
{'doll', 'call', 'ball'}

In [18]:
# clear method
set2={'hat','rat','cat'}
set2.clear()
print(set2)

set()

In [2]:
# del keyword

thisset={'1','2','3'}
del thisset
print(thisset)

NameError: name 'thisset' is not defined

In [3]:
# loop items
myset={'3','2','6'}
for x in myset:
 print(x)

3
2
6

In [7]:
# join two sets
# .union method
set1={'a','b','5'}
set2={'1','2','5'}
set3=set1.union(set2)
print(set3)

{'b', 'a', '2', '5', '1'}

In [22]:
# update

set1={'w','u','t'}
set2={'a','d','i'}
set1.update(set2)
print(set1)

{'t', 'a', 'w', 'i', 'u', 'd'}

In [20]:
# intersection_update
a={'apple','ball','an','cat','rat'}
b={'an','man'}
a.intersection_update(b)
print(a)

# intersection

a={'sumaiya','suraiya','ruqaiya'}
b={'ruqaiya','minhaj','marya'}
c=a.intersection(b)
print(c)

{'an'}
{'ruqaiya'}

In [23]:
# keep all but not theduplicates
# symmetric_difference_update
a={'a','b','c'}
b={'d','b','e','f'}
a.symmetric_difference_update(b)
print(a)

{'c', 'e', 'f', 'a', 'd'}

# DICTIONARIES

In [50]:
set=('a','b')
print(type(x))
print(x)

<class 'set'>
{'b', 'a'}

In [50]:
# print the "age"value of the dict
mydict={
    "minhaj":"shaikh",
    "suraiya":"khan",
    "age":24   
}
print(mydict["age"])

# print(x)

thisdict={
    'a':'1',
    'b':'2'
}
x=thisdict['b']
print(x)

# get()method

dict1={
    '1':'a',
    '2':'b',
    '3':'c'
}
x=dict1.get('3')
print(x)

# keys method
dict2={
    'my':'no',
    'why':'yes',
}
x=dict2.keys()
print(x)

24
2
c
dict_keys(['my', 'why'])

In [45]:
# creat and print a dictionary
mydict={
    "suma":"khan",
    "huma":"age",
    "ruhma":142,
}
print(mydict)

{'suma': 'khan', 'huma': 'age', 'ruhma': 142}

In [46]:
# duplicate not allowed
mydict={
    "name":'neha',
    "name":"reena",
    "age":'23',
}
print(mydict)

{'name': 'reena', 'age': '23'}

In [15]:
# len()function
mydict={
    "name":'neha',
    "name":"reena",
    "age":'23',
}
print(len(mydict))

2

In [32]:
# any data type
mydict={
    'an':'1',
    'man':'2.1',
    'pan':'23',
    'ban':False,
    'color':["red","yellow","blue"],
    'fruits':('apple','banana')
}
print(mydict)

{'an': '1', 'man': '2.1', 'pan': '23', 'ban': False, 'color': ['red', 'yellow', 'blue'], 'fruits': ('apple', 'banana')}

In [39]:
# type()method
mydict={}
print(type(mydict))

myset={}
print(type(myset))

myset={'w','e'}
print(type(myset))

<class 'dict'>
<class 'dict'>
<class 'set'>

In [5]:
# keys method
car={
    'name':'nano',
    'model':'ola',
    'year':'1998'
}
x=car.keys()
print(x)
car['color']='black'
print (x)

dict_keys(['name', 'model', 'year'])
dict_keys(['name', 'model', 'year', 'color'])

In [65]:
# values method
car={
    'name':'ola',
    'model':'mcgm',
    'year':'1998'
    
}
x=car.values()
print(x)
car['brand']='vip'
print(x)
car['year']='345'
print(x)

dict_values(['ola', 'mcgm', '1998'])
dict_values(['ola', 'mcgm', '1998', 'vip'])
dict_values(['ola', 'mcgm', '345', 'vip'])

In [67]:
# items.methods
teacher={
    'name':'jahan',
    'education':'phd',
    'age':'24'
}
x=teacher.items()
print(x)
teacher['birth year']='1998'
print(x)

dict_items([('name', 'jahan'), ('education', 'phd'), ('age', '24')])
dict_items([('name', 'jahan'), ('education', 'phd'), ('age', '24'), ('birth year', '1998')])

In [69]:
# use in()keyword

doctor={
    'marya':'khan',
    'age':'24',
    'degree':'mbbs'
}
if 'degree' in doctor:
    print('yes',)

yes

In [3]:
# change values
student={
    "anam":"khan",
    "age":"24",
    "fatima":"khan",
    "year":"25"
}
student["age"]="23"
print(student)

{'anam': 'khan', 'age': '23', 'fatima': 'khan', 'year': '25'}

In [4]:
# update()method
teacher={
    "marya":"khan",
    "edu":"bed",
    "age":"30"
    
}
teacher.update({"marya":"shaikh"})
print(teacher)

{'marya': 'shaikh', 'edu': 'bed', 'age': '30'}

In [6]:
# adding items
car={
    "model":"mk",
    "brand":"vip",
    "year":"1997"
    
}
car["name"]="nano"
print(car)

{'model': 'mk', 'brand': 'vip', 'year': '1997', 'name': 'nano'}

In [7]:
# update method with adding the item
car={
    "name":"nano",
    "brand":"oppo"
}
car.update({"color":"black"})
print(car)

{'name': 'nano', 'brand': 'oppo', 'color': 'black'}

In [21]:
# remove items
t={
    "neha":"khan",
    "age":"28"
}
t.pop("age")
print(t)

# pop items
s={
    "nargis":"khan",
    "occupation":"teachr"
    
}
s.popitem()
print(s)

# del keyword

mobile={
    "oppo":"nokia",
    "samsung":"motorolla",
}
del mobile["samsung"]
print(mobile)

mobile={
    "oppo":"nokia",
    "samsung":"motorolla",
}
del mobile
print(mobile)

{'neha': 'khan'}
{'nargis': 'khan'}
{'oppo': 'nokia'}

NameError: name 'mobile' is not defined

In [23]:
# clear()method
phon={
    "mi":"nokia",
    "redmi":95
    
}
phon.clear()
print(phon)

{}

In [24]:
# for loop
mydict={
    "bajaj":"iron",
    "lg":"fridge"
}
for x in mydict:
    print(x)

bajaj
lg

In [25]:
thisdict={
    "washingmachine":"18000",
    "washbesen":"1200"
}
for x in thisdict:
    print(thisdict[x])

18000
1200

In [27]:
# values()method
mydict={
    "as":"add",
    "an":"and"
}
for x in mydict.values():
    print(x)

add
and

In [29]:
# keys()method
thisdict={
    "washingmachine":"18000",
    "washbesen":"1200"
}
for x in thisdict.keys():
    print(x)

washingmachine
washbesen

In [30]:
# items() method
thisdict={
    "washingmachine":"18000",
    "washbesen":"1200"
}
for x in thisdict.items():
    print(x)

('washingmachine', '18000')
('washbesen', '1200')

In [31]:
# copy method
thisdict={
    "pen":"5",
    "pencil":9,
    "book":"8"
}
mydict=thisdict.copy()
print(mydict)

{'pen': '5', 'pencil': 9, 'book': '8'}

In [32]:
# dict function

thisdict={
    "pen":"5",
    "pencil":9,
    "book":"8"
}
mydict=dict(thisdict)
print(mydict)

{'pen': '5', 'pencil': 9, 'book': '8'}

In [2]:
# nested dictionaries
family={
    "sisters":{
        "name":"sanya",
        "year":"2005"
    },"brothers":{
        "name":"musanna",
        "year":"1994"
    },"mothers":{
        "name":"fatima",
        "age":"50"
    }

}
print(family)

{'sisters': {'name': 'sanya', 'year': '2005'}, 'brothers': {'name': 'musanna', 'year': '1994'}, 'mothers': {'name': 'fatima', 'age': '50'}}

In [3]:
child1={
    "name":"hamza",
    "age":"3"
}
child2={
    "name":"zuhaira",
    "age":"5"
}
child3={
    "name":"ibrahim",
    "age":"6"
}
myfamily={
    "child1":child1,
    "child2":child2,
    "child3":child3,
}
print(myfamily)

{'child1': {'name': 'hamza', 'age': '3'}, 'child2': {'name': 'zuhaira', 'age': '5'}, 'child3': {'name': 'ibrahim', 'age': '6'}}

In [6]:
# if statement
a=100
b=200
if b > a:
    print("b is greater than a")

b is greater than a

In [8]:
# elif keyword
a=200
b=200
if b > a:
    print("b is greater than a")
elif a==b:
    print("a and b are equal")

a and b are equal

In [10]:
# else keyword
a=20
b=30
if a > b:
    print("a is greater than b")
elif a==b:
    print("a and b are equal")
else:
    print("b is greater than a")

b is greater than a

In [11]:
# short hand if 
a=100
b=200
if a < b:print("b is greater than equal")

b is greater than equal

In [12]:
# if else
a=100
b=200
print("A")if a > b else print ("b")

b

In [15]:
# stings
# to check weather a given string is a palindrome?
b="level"
print(b[0:5])
print(b[-5:5])

level
level

In [21]:
# to capitalize the first character in a given sentence:
a="minhaj is a good girl"
x=a.capitalize()
print(x)

Minhaj is a good girl

In [15]:
# program to convert string to a list
txt="hello"
x=txt.split()
print(x)

['hello']

In [8]:
# to sort alphabetically the words in a given sentence
x= "hello why ball"
words=x.split()
words.sort()
for word in words:
   print(word)

ball
hello
why

In [9]:
# (1)
# to demonstrate any 10 functions of string class
mystr="my name is khan"
x=mystr.capitalize()
print(x)

My name is khan

In [4]:
# (2)
# to demonstrate any 10 functions of string class
mystr="my name is khan"
x=mystr.capitalize()
print(x)

My name is khan

In [5]:
# (3)
# count
fruits=" apple is my fav and banana and orange also"
x=fruits.count("and")
print(x)

2

In [14]:
# (4)
# isspace
car="  "
x=car.isspace()
print(x)

True

In [15]:
# (5)
# isalnum
car="nano12"
x=car.isalnum()
print(x)

True

In [20]:
# (6)
txt="my name is khan."
x=txt.rindex("name")
print(x)

3

In [26]:
# (7)
# join("")
on=("kal","aj","parso")
x="#".join(on)
print(on)

('kal', 'aj', 'parso')

In [29]:
# (8)
# rfind
txt=("kal parso narso")
x=txt.rfind('parso')
print(x)

4

In [31]:
# (9)
# swapcase
txt=("hello my world")
x=txt.swapcase()
print(x)

HELLO MY WORLD

In [36]:
# (10)
# zfill
txt="50"
x=txt.zfill(10)
print(x)

0000000050

In [47]:
# to demonstrate string slice
x="fello world"
print(x[1:7])
print(x[:40])
print(x[0:40])
print(x[-4:-1])
print(x[:-8])

ello w
fello world
fello world
orl
fel

In [52]:
# to check substring is present in a given string this should be complete by EOD
x="mumbai coding club"
print("coding" in x)

True

# if

In [4]:
# one line if else statement 
a=30
b=30
print("A")if a > b else print("==")if a==b else print("B")

==

In [2]:
# and logical operators
a=500
b=300
c=200
if a > b and c < b:
    print("both conditions are true")

both conditions are true

In [9]:
# OR keyword
x=100 
y=200
z=300
# print(a > b or z > y)
if x > y or z > y:
    print("at leat one condition is true")

at leat one condition is true

In [18]:
# NESTED IF 
x=50
if x < 60:
    print("true")
    if x >40:
        print("true")
    else:
            print(false)

true
true

In [20]:
# if statement with no content but with pass statement
a=200
b=300
if a < b:
    pass

# list task

In [16]:
# (1)TO CREAT 5 DIFFERENT LIST USIN LIST COMPREHENSION METHOD loop method

list1=["apple","ball","cat","dog"]
newlist=[]
for x in list1:
    if "a" in x:
        newlist.append(x)
print(newlist)

['apple', 'ball', 'cat']

In [18]:
# with lis comprehension we can do all that with only one line of code

fruits=["apple","cherry","banana","lichi"]
newlist=[x for x in fruits if "a"in x ]
print(newlist)

['apple', 'banana']

In [19]:
# only execpt items that are not "cherry"

fruits=["apple","cherry","banana","lichi"]
newlist=[x for x in fruits if x!="cherry" ]
print(newlist)

['apple', 'banana', 'lichi']

In [21]:
# set all values in the new list

fruits=["apple","cherry","banana","lichi"]
newlist=["hello" for x in fruits]
print(newlist)

['hello', 'hello', 'hello', 'hello']

In [4]:
# if else

fruits=["apple","cherry","banana","lichi"]
newlist=[x if x!= "banana" else"orange" for x in fruits]
print(newlist)

['apple', 'cherry', 'orange', 'lichi']

In [8]:
# (2)random number

list1=[5,3,8,10,21,1,6,8,55]
print(max(list1))

55

In [13]:
# (3) to check whethere a given number is present in list or not

x=[23,56,78,96]
print(23 in x)

True

In [14]:
# to demonstrate any 10 method of list(1)

fruits = ["apple", "banana", "cherry"]

fruits.append("orange")

print(fruits)

['apple', 'banana', 'cherry', 'orange']

In [17]:
# extend(2)
fruits = ["apple", "banana", "cherry"]
flower=["rose","rosemerry","lilly"]
fruits.extend(flower)
print(fruits)

['apple', 'banana', 'cherry', 'rose', 'rosemerry', 'lilly']

In [21]:
# (3)count
fruits = ["apple", "banana", "cherry"]
x=fruits.count("apple")
print(x)

1

In [22]:
# (4)reverse
fruits = ["apple", "banana", "cherry"]
fruits . reverse()
print(fruits)

['cherry', 'banana', 'apple']

In [23]:
# (5)sort
fruits = ["bpple", "anana", "hherry"]
fruits.sort()
print(fruits)

['anana', 'bpple', 'hherry']

In [25]:
# (6)pop
fruits = ["apple", "banana", "cherry"]
fruits.pop(2)

'cherry'

In [26]:
# (7)insert
fruits = ["apple", "banana", "cherry"]
fruits.insert(2,"orange")
print(fruits)

['apple', 'banana', 'orange', 'cherry']

In [27]:
# (8)index
fruits = ["apple", "banana", "cherry"]
x=fruits.index("cherry")
print(x)

2

In [28]:
# (9)copy
fruits = ["apple", "banana", "cherry"]
x=fruits . copy()
print(x)

['apple', 'banana', 'cherry']

In [31]:
# (10)clear
fruits = ["apple", "banana", "cherry"]
fruits.clear()
print(fruits)

[]

In [5]:
# (5)to add two list [adding elements of list]
list1 = [6,8,43,9]
list2 = ["apple","banana","cherry","melon"]
zipped = zip(list1, list2)
print(list(zipped))

[(6, 'apple'), (8, 'banana'), (43, 'cherry'), (9, 'melon')]

In [12]:
# how to implement stack
# stack
a=[]
a.append("apple")
a.append("ball")
a.append("cat")
print(a)

a.pop()
print(a)

a.pop()
print(a)

a.pop()
print(a)

['apple', 'ball', 'cat']
['apple', 'ball']
['apple']
[]

In [13]:
# for loop
list1=["harry","larry","carry","cherry"]
print(list1)

list2=["harry","larry","carry"]
# print(list2[0],list2[1],list2[2])

for item in list2:
    print(item)

['harry', 'larry', 'carry', 'cherry']
harry
larry
carry

# for loop

In [1]:
fruit=["apple","banana","cat"]
for x in "fruit":
    print(x)

f
r
u
i
t

In [2]:
fruits=["apple","ball","cat"]
for x in fruits:
    print(x)

apple
ball
cat

In [3]:
# loop through the letteres in the word banana
fruits=["apple","ball","cat"]
for x in "ball":
    print(x)

b
a
l
l

In [5]:
# break statement
fruits=["apple","ball","call","doll"]
for x in fruits:
    print(x)
    if x =="call":
        break

apple
ball
call

In [6]:
# exit the loop when x is banana

fruits=["apple","ball","call","doll"]
for x in fruits:
    if x =="ball":
        break
    print(x)

apple

In [7]:
number=[3,6,5,9,1]
for x in number:
    print(x)

3
6
5
9
1

In [49]:
# break statement

num=[3,6,8,4,1,9]
for x in num:
    print(x)
    if x == 4:
        break

3
6
8
4

In [22]:
# exit the loop when x is 9

num=["3","6","0","9","4","2","1",]
for x in num:
    if x =="9":
        break
    print(x)

3
6
0

In [17]:
fruits = ["4","5","3","2"]
for x in fruits:
    if x == "3":
      break
    print(x)

4
5

In [23]:
# we can stop current iteration of the loop an continue with the next
flower=["rose","lilly","lotus"]
for x in flower:
    if x =="lilly":
        continue
    print(x)

rose
lotus

In [26]:
# range()6
for x in range (6):
    print(x)

0
1
2
3
4
5

In [27]:
for x in range(9):
    print(x)

0
1
2
3
4
5
6
7
8

In [29]:
for x in range(3,9):
  print(x)

3
4
5
6
7
8

In [30]:
for x in range(2,20,2):
    print(x)

2
4
6
8
10
12
14
16
18

In [44]:
# else keyword

for x in range(6):
    print(x)
else:
    print("finally finished")

0
1
2
3
4
5
finally finished

In [47]:
fruits=["apple","ball","call"]
for fruit in fruits:
    print(fruit)
else:
    print("properly ended")

apple
ball
call
properly ended

In [48]:
# nested loop

list1=["apple","ball","call"]
list2=["red","yellow","green"]
for x in list1:
    for y in list2:
        print(x,y)

apple red
apple yellow
apple green
ball red
ball yellow
ball green
call red
call yellow
call green

In [56]:
# pass statement
for x in [0,4,8,2]:
    pass

# while loop

In [60]:
# print i as long as i is less than 7

i=1
while i < 7:
    print(i)
    i+=1

1
2
3
4
5
6

In [61]:
i=2
while i < 9:
    print(i)
    i+=2

2
4
6
8

In [7]:
# break statement
i=1
while i < 5:
    print(i)
    if i == 3:
       break
    i+=1

1
2
3

In [5]:
i=2
while i < 10:
    print(i)
    if i == 7:
        break
    i+=1

2
3
4
5
6
7

In [2]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

In [6]:
i=1
while i < 8:
 i +=1
 if i == 6:
  continue
 print(i)

2
3
4
5
7
8

In [3]:
i=1
while i > 6:
    print(i)
    i+=1
else:
    print("true")

true

In [ ]:
# to print odd and even number
number = int(input("enter an integer number"))
remainder= number % 2
if (remainder==0):
    print(number,"is an even number")
else:
    print(number,"is an odd number")

# FUNCTIONS

In [1]:
# calling a function

def add():
    print("hello world")
add()

hello world

In [1]:
# ARGUMENT

def add (a,b):
    c=a+b
    print("add",c)
add(2,1)  
add(45,54)

add 3
add 99

In [2]:

def add (x,y):
    z=x*y
    print("add",z)
add(4,5)

add 20

In [4]:
def name(surname):
    print(surname+"khan")
name('soma')
name('homa')
name('roma')

somakhan
homakhan
romakhan

In [6]:
def teacher(teach):
    print(teach+"school")
teacher("taba")
teacher("saba")
teacher("haba")

tabaschool
sabaschool
habaschool

In [9]:
# number of arguments
def name(khan,pathan):
    print(khan+" "+pathan)
name ("suraiya","khan")

suraiya khan

In [10]:
def name (nargis,khan):
    print(nargis+" "+khan)
name("suraiya","khan")

suraiya khan

# ARGS

In [16]:
# for loop

def function(normal,*kids,**kwargs):
    
    print(normal)
    
    for x in kids:
        print(x)
    for key,value in kwargs.items():
        print(f"{key} is a {value}")
        
#     print(kids[:4])
name=("sadique","harry","minhaj","suraiya")

normal="this is information:"
kw={"sadique sir":"teacher","harry":"monitor","minhaj":"pagal","suraiya":"nargis"}
function(normal,*name,**kw)

this is information:
sadique
harry
minhaj
suraiya
sadique sir is a teacher
harry is a monitor
minhaj is a pagal
suraiya is a nargis

In [23]:
def func(*kids):
    print("the first boy is"+" " +kids[0])
    
func("rema","sema","jema")

the first boy is rema

In [24]:
def function(*good):
    print("she is a "+" "+good[1])
function("meena","seema","reema")

she is a  seema

In [2]:
def function(*args):
    print("she is a"+" "+args[2])
function("good","bad","sad")

she is a sad

# kwargs

In [21]:
def function(normal,*args):
    for x in args:
        print(x)
function("juma","huma","ruma","juma","guma")

huma
ruma
juma
guma

In [26]:
def function(**kwargs):
    for key,value in kwargs.items():
        print(f'{key} is a {value}')
kw={"sadique sir":"teacher","harry":"monitor","minhaj":"pagal","suraiya":"nargis","stu":"5"}        
        
function(**kw)

sadique sir is a teacher
harry is a monitor
minhaj is a pagal
suraiya is a nargis
stu is a 5

In [1]:
# write a programm adding 2 number 

def add(a,b):
    x=a+b
    return x
c=add(2,4)
print(c)

6

In [39]:
# DEFAULT VALUE

def add(a,b,c=5):
    d=a+b+c
    print(d)
add(5,6,9)    
    
def odd(country="india"):
    print("i am from"+" "+country)
odd("pakistan")
odd("china")
odd()
odd("nepal")

20
i am from pakistan
i am from china
i am from india
i am from nepal

In [44]:
# passing a list as an argument 

def khana(food):
 for x in food:
    print(x)
eat=["apple","ball","cat"]
khana(eat)

apple
ball
cat

In [46]:
# RETURN VALUE
def multi(x):
    return 3*x
print(multi(5))
print(multi(2))
print(multi(7))

15
6
21

In [50]:
# pass statement
def function():
    pass

In [4]:
# palindrome
a=input("")
b=a[::-1]
if a==b:
    print("palindrome")
else:
    print("not palindrome")

minhaj
not palindrome

In [5]:
a=input("")
b=a[::-1]
if a==b:
    print("palindrome")
else:
    print("not palindrome")

ram
not palindrome

In [7]:
a=input("")
b=a[::-1]
if a==b:
    print("palindrome")
else:
    print("not palindrome")

madam
palindrome

In [8]:
a="minhaj is a good girl"
b=a.capitalize()
print(b)

Minhaj is a good girl

In [9]:
x="khan sir is very calm teacher"
y=x.capitalize()
print(y)

Khan sir is very calm teacher

In [10]:
# string to a list

x="minhaj is a good girl"
y=x.split()
print(y)

['minhaj', 'is', 'a', 'good', 'girl']

In [11]:
a="he is a very smart"
b=a.split()
print(b)

['he', 'is', 'a', 'very', 'smart']

In [12]:
# to sort alphabetically the words in a given sentence
x= "hello why ball"
words=x.split()
words.sort()
for word in words:
    print(word)

ball
hello
why

In [16]:
x="hello i am surya"
y=x.split()
y.sort()
print(y)

['am', 'hello', 'i', 'surya']

In [1]:
x="hello i am surya"
words=x.split()
words.sort()
for word in words:
    print(word)

am
hello
i
surya

In [3]:
x="hello i am surya"
y=x.split()
y.sort()
for i in y:
    print(i)

am
hello
i
surya

In [2]:
a=input("")
b=a[::-1]
if a==b:
    print("palindrome")
else:
    print("notpalindrome")

minhaj
notpalindrome

In [3]:
a="minhaj is a khan"
b=a.capitalize()
print(b)

Minhaj is a khan

In [4]:
x="minhaj is a good girl"
y=x.split()
print(y)

['minhaj', 'is', 'a', 'good', 'girl']

In [6]:
a="hello my world"
b=a.split()
b.sort()
for i in b:
    print(i)

hello
my
world

In [7]:
# count method
a="she is very pretty"
b=a.count("e")
print(b)

3

In [10]:
x="minhajasuraiya"
y=x.count("a")
print(y)

4

In [11]:
# isspace
a=" "
b=a.isspace()
print(b)

True

In [12]:
a="my name is khan"
b=a.capitalize()
print(b)

My name is khan

In [13]:
x="safari"
y=x.isalnum()
print(y)

True

In [24]:
# r index
k="good minhaj is good girl"
l=k.rindex("good")
print(l)

15

In [23]:
k="ngyyi good minhaj is good girl"
l=k.index("good")
print(l)

6

In [27]:
# join#
x="kal,aj,parso"
y= "#".join(x)
print(y)

k#a#l#,#a#j#,#p#a#r#s#o

In [28]:
x="kal","aj","parso"
y="#".join(x)
print(y)

kal#aj#parso

In [30]:
x="kal,aj,parso"
y=x.rfind('aj')
print(y)

4

In [31]:
# swapcase
k="minhaj pagal hai"
l=k.swapcase()
print(l)

MINHAJ PAGAL HAI

In [32]:
x="she is cute"
y=x.swapcase()
print(y)

SHE IS CUTE

In [37]:
x="minhaj"
y="minhaj good girl"
z="10"
print(x.zfill(10))
print(y.zfill(20))
print(z.zfill(10))

0000minhaj
0000minhaj good girl
0000000010

In [38]:
x="50"
y=x.zfill(10)
print(y)

0000000050

In [39]:
# String slicing
String = 'GEEKSFORGEEKS'
 
# Using indexing sequence
print(String[-1:-12:-2])

SEGOSE

In [44]:
# string slicing
z="helloworldfelloworld"
# print(z[3::-1])
print(z[-5::-2])

wledrwle

In [8]:
x='120'
y=x.isnumeric()
print(y)

True

In [50]:
x="world"
print(x[1::-2])

o

In [51]:
# substring in string
x="mumbai coding club"
print("club"in x)

True