In [2]:
class add:
    pass
#def sum(my):
#print("my name is suraiya")
    
add1=add()
print(type(add1))

<class '__main__.add'>

In [1]:
class name:
    def func(my):
        print("my name suraiya")
name.func('my')

my name suraiya

In [56]:
class name:
    def add(my):
        print("my name suraiya")
        
m1=name()
m2=name()
# this type of syntax is standard:

# m1.add()
# m2.add()

class student:
    def __init__(self,name,age):
        self.name=name  
        self.age=age
    def show (self):
        print("name:",self.name,"age:",self.age)
s1=student("suraya",50)
s2=student("minhaj",52)
s1.show()

name: suraya age: 50

In [39]:

# 1st class in python

class student:
    pass
huma=student()
juma=student()

huma.name="huma khan"
huma.std=9
huma.add='phonix'
huma.subject=["urdu","history"]


juma.name="friday"
juma.std=5
juma.add="mall"

print(huma,juma)
print(huma.subject,juma.name)

<__main__.student object at 0x00000214F9FDF8E0> <__main__.student object at 0x00000214F9FDE020>
['urdu', 'history'] friday

In [14]:
# instance variable and class variable

class EMPLOYEE:
    no_of_student=25
    pass

harry=EMPLOYEE()
minhaj=EMPLOYEE()

harry.name="harry khan"
harry.role="instroctor"
harry.salary=50000

minhaj.name="shaikh"
minhaj.role="teacher"
minhaj.salary=50000

print(EMPLOYEE.no_of_student)

print(minhaj.__dict__)
minhaj.no_of_student=9
print(minhaj. no_of_student)

25
{'name': 'shaikh', 'role': 'teacher', 'salary': 50000}
9

In [55]:
class student:
    def __init__(self,name,age,rollno):
        self.name=name
        self.age=age
        self.rollno=rollno
    def show (self):
        print("Name:",self.name,"Age:",self.age,"rollno:",self.rollno)
# s1=student()
s2=student("minhaj",20,24)
s2.show()
# s2.show()

Name: minhaj Age: 20 rollno: 24

In [8]:
# class employee:
# #     pass
# harry=employee()
# minhaj=employee()

harry.name='harry'
harry.age=20
harry.salary=44000

minhaj.name='minhaj'
minhaj.age=20
minhaj.salary=5000

# print(harry,minhaj)
print(minhaj.age,harry .name)

20 harry

In [32]:
class person:
    increment = 1.5
    no_of_employees=0
    
    
    def __init__(self,name,age,profession,salary):
        self.name = name
        self.age = age
        self.profession = profession
        self.salary = salary
        person.no_of_employees+=1
#         self.increment=1.4

        
    def increase(self):
        self.salary = int(self.salary * person.increment)
        
print(person.no_of_employees)        
p1 = person('fatima',50,'teacher',44000)
print(person.no_of_employees)

p2 = person('khadija',40,'teacher',30000)
print(person.no_of_employees)

# print(p1.name,p2 .salary)
# print(p1.__dict__)

# p1.increment=9
print(p1.__dict__)

p1.increase()
print(p1.salary)

0
1
2
{'name': 'fatima', 'age': 50, 'profession': 'teacher', 'salary': 44000}
66000

In [37]:
class StudentDetail:
    # class variables
    school_name = 'ABC School'

    # constructor
    def __init__(self, name, age):
        # instance variables
        self.name = name
        self.age = age

s1 = Student("Harry", 12)
# access instance variables
print('Student:', s1.name, s1.age)

# access class variable
print('School name:', Student.school_name)

# Modify instance variables
s1.name = 'Jessa'
s1.age = 14
print('Student:', s1.name, s1.age)

# Modify class variables
Student.school_name = 'XYZ School'
print('School name:', Student.school_name)

Student: Harry 12
School name: ABC School
Student: Jessa 14
School name: XYZ School

In [66]:
class student:
    collagename="ABCschool"
    def __init__(self,name,age):
        self.name=name
        self.age=age
s1=student("har",10) 

print('student:',s1.name,s1.age)
print('schoolname:',student.collagename)
s1.name='lorry'
s1.age=20
print('student:',s1.name, s1.age)
student.collagename="xyz"
print('schoolname:',student.collagename)

student: har 10
schoolname: ABCschool
student: lorry 20
schoolname: xyz

In [87]:
class standard:
    schoolname="taleem"
    def __init__(self,name,age):
        self.name = name
        self.age = age
s1=standard('farhana',20)
print("name:",s1.name,"age:",s1.age,"schoolname:",s1.schoolname)
print("schoolname:",standard.schoolname)

s1.age=30
print(s1.age)
print("name:",s1.name,"age:",s1.age,"schoolname:",s1.schoolname)

standard.schoolname="kulliya"
print("schoolname:",standard.schoolname)
print("name:",s1.name,"age:",s1.age,"schoolname:",s1.schoolname)

name: farhana age: 20 schoolname: taleem
schoolname: taleem
30
name: farhana age: 30 schoolname: taleem
schoolname: kulliya
name: farhana age: 30 schoolname: kulliya

# class variable instance variable

In [106]:
class Employee:
    increment=1.2
    noofemployee=0
    def __init__(self,name,age,salary,profession):
        self.name=name
        self.age=age
        self.salary=salary
        self.profession=profession
        Employee.noofemployee+=1
        
    def increase(self):
        self.salary=int(self.salary*Employee.increment)
print(Employee.noofemployee)        
    
fatima=Employee('fatima',50,70000,'teacher')
khadija=Employee("khadija",20,30000,"student")

print(Employee.noofemployee)     

print(fatima.salary)
print(fatima.__dict__)

fatima.increase()
print(fatima.salary)

print(khadija.__dict__)
khadija.increase()
print(khadija.salary)
print(khadija.__dict__)

0
2
70000
{'name': 'fatima', 'age': 50, 'salary': 70000, 'profession': 'teacher'}
84000
{'name': 'khadija', 'age': 20, 'salary': 30000, 'profession': 'student'}
36000
{'name': 'khadija', 'age': 20, 'salary': 36000, 'profession': 'student'}

In [40]:
# instance method

class Employee:
    increment=1.2
    
    def __init__(self,name,age,salary,profession):
        self.name=name
        self.age=age
        self.salary=salary
        self.profession=profession
        
        
    def increase(self):
        self.salary=int(self.salary*Employee.increment)
    @classmethod
    def change_increment(cls,amount):
        cls.increment=amount
        
    
        

fatima=Employee('fatima',50,6000,'teacher')
khadija=Employee("khadija",20,3000,"student")

# khadija.increase()
# print(khadija.salary)

fatima.increase()

print(fatima.salary)

Employee.change_increment(2)

fatima.increase()
print(fatima.salary)

khadija.increase()
print(khadija.salary)
Employee.change_increment(2)

khadija.increase()
print(khadija.salary)

7200
14400
6000
12000

In [15]:
class student:
    def __init__(self,name,rollno,age):
        self.name = name
        self.__rollno = rollno
        self.__age = age
    
    def show(self):
        print(self.__rollno)
        
    def get_rollno(self):
        return self.__rollno
    
    def get_age(self):
        return self.__age
    
    def set_age(self,age):
         self.__age=age
    
    
minhaj=student("minhaj",22,20)
minhaj.name
minhaj._student__rollno

# s2=student("haj",29,25)

# s3=student("huma",32,22)

# minhaj.show()
# s2.sho
# minhaj.get_rollno()
minhaj.get_age()
minhaj.set_age(65)
minhaj.get_age()

65

# default constructor

In [5]:
class add:
    def sum(self):
        print("my name is khan.")
s=add()
s.sum()

my name is khan.

In [1]:
# non-parametrized constructor

In [2]:
class student:
    def __init__(self):
        self.name="khan"
        self.age="50"
    def show(self):
        print("NAME:",self.name,"AGE:",self.age)
        
s=student()        
s.show()

NAME: khan AGE: 50

In [9]:
# parametrized constructor

In [11]:
class Employee:
    def __init__(self,name,age,salary):
        self.name = name
        self.age = age
        self.salary = salary
    def show(self):
        print("NAME:",self.name,"AGE:",self.age,"SALARY:",self.salary)
s1=Employee("khan khalid",30,10000)
s1.show()

s2=Employee("khan huma",40,20000)
s2.show()

NAME: khan khalid AGE: 30 SALARY: 10000
NAME: khan huma AGE: 40 SALARY: 20000

In [17]:
# constructor with default value

class Student:
    def __init__(self,name, age=12, classroom=7):
        
        self.name = name
        self.age = age
        self.classroom = classroom
    
    def add(self):
        print(self.name,self.age,self.classroom)
s1 = Student("Amma")
s1.add()

s2 = Student("namma",13)
s2.add()

Amma 12 7
namma 13 7

In [56]:
# counting the no of object
class Employee:
    count=0
    def __init__(self):
        Employee.count=Employee.count+1
a=Employee()
b=Employee()
c=Employee()
print("no of employee is:",Employee.count)

no of employee is: 3

In [35]:
list=[2,4,5,6]
list=[12,13,14]

def add():
    for i in list:
        print(i) 
def show_element():
    for i in list:
        print(i)
        
# add() 

show_element()

12
13
14

In [47]:
def show_element(a):
    for i in a:
        print(i)
lst3=[2,3,4]
p="my name khan"
# show_element(lst3)
# show_element(p)
show_element("hello")

h
e
l
l
o

In [11]:
a=2
b=a
print(id(a))
print(id(b))
del b
# print(a)
print(a)

2605773750544
2605773750544
2

In [8]:
# return value

In [19]:
class Test:

    def __init__(self, i):
        self.i = i

    def add(self,k):
        self.k=k
        return(self.i+self.k)
        
d = Test(8)
d.add(3)
print(d.add(3))

11

# destructor

In [22]:
class add:
    def __init__(self,name,age):
        self.name=name
        self.age=age
    def show(self):
        print("name:",self.name,"age:",self.age)
s=add("surya",50)

del s
s.show()

NameError: name 's' is not defined

In [42]:
class add:
    def __init__(self,name,age):
        self.name=name
        self.age=age
    def show(self):
        print("name:",self.name,"age:",self.age)
    def __del__(self):
#         print("world")
        
        
s1=add("surya",20)
s2=add("ninja",30)
s3=add("minja",60)

del s1, s2,s3 
s1.show()
s3.show()

NameError: name 's1' is not defined

In [7]:
class student:
    def __init__(self,name):
        self.name= name
    def show(self):
        print("name:",self.name)
s1=student('emma')
s2=s1
s1.show()
del s1
# s1.show()
s2.show()

name: emma
name: emma